@charset "UTF-8";

body {
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin:0 auto 0 auto;
  width:970px;
}

a:link{
    color:#930;
    text-decoration: none;
}

a:visited{
    color:#82A42D;
    text-decoration: none;
}

#header {
    height:80px;
    width:970px;
    background:url(../imagenes/head.png);
    background-position: right;
}

#cintillo {
    background:url(../imagenes/fondohead_con_flor.png) no-repeat;
    background-position: right;
    height:139px;
    width: 970px;
    position: relative;
}

#tiposseco {
    float:left;
    height:139px;
}

#caminito{
    height:17px;
    background:url(../imagenes/caminito.png) no-repeat;
    background-position: right;
}

#contenido {
    padding:0;
    height:100%;
}

#contenido #ladoizq {
   float:left;
   width:250px;
   height:auto;
   padding-top:8px;
   max-width:205px;
}
 
#contenido #main{
  padding-left: 250px;
  padding-right: 1em;
  padding-top:8px;
  font-family:Tahoma, Geneva, sans-serif;  
  text-align:justify;
  font-size: 10px;
  line-height:1.4em;
  min-height: 200px;
} 
  
  
/* #navegacion { */
/*     border-top: solid 1px #999; */
/*     border-bottom: solid 1px #999; */
/*     margin-bottom: 0; */
/*     margin-top: 0; */
/*     padding:3px 110px 3px; */
/* }  */

/* #navegacion #menu { */
/*     background-image:url(../imagenes/fondohead_seco3.png) */
/* } */

/* #menu1{ */
/*     padding:0; */
/*     margin-bottom:2px; */
/*     margin-top: 0px; */
/* }	 */
	
/* #navegacion li{ */
/*     display:inline; */
/* } */

/* #navegacion li a:link{ */
/*     border-right: solid 1px #999; */
/*     font:Arial, Helvetica, sans-serif; */
/*     font-size:18px; */
/*     text-decoration:none; */
/*     padding:5px; */
/*     color:#666; */
/* } */
  
/* .inicio { */
/*     border-left: solid 1px #999; */
/* } */
  
/* #navegacion li a:hover{ */
/*     background:#ededed; */
/*     margin-top:0px; */
/* } */

#menu {
    float: left;
    background: white;
    max-width: 220px;
}

#menu ul {
    padding: 0;
}

#menu li {
    padding: 0;
    list-style-type: none;
}

#menu a{
    display: block;
    padding: 0 1em 0 1em;
    color: #8e9641;
    font-size:12px;
}

#menu a:hover{
    color: #3A520F;
    background: #bec671;
    margin:0px;
}
	   
#main #text-cuerpos{
    padding: 0 12px 25px 80px;
}
	
#abajo {
    font-family:Arial, Helvetica, sans-serif;
    font-size:9px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#logos { 
    float: right; 
    padding-left: 1em;
}

#creative {
}
	  
.titulo{
    font-size:14px;
    color:#333;
    font-weight:bolder;
}

/* .subtitulos{ */
/*     font-size:12px; */
/*     color:#333; */
/*     font-weight:bolder; */
/* } */

.contenidos{
    font-size:12px;
    color: #333;
    min-height: 300px;
}

/* .creditos{ */
/*     font-size:11px; */
/*     color:#333; */
/*     text-align:right; */
/* } */


#text-cuerpos{
	margin-left:300px;
	width: 350px;
	}
	
#warn { 
    background: none repeat scroll 0 0 #E3E6CA;
    color: #333333;
    font-size: 11px;
    vertical-align:middle;
    padding:3px;
}

#warn #warntop { 
    background:#030;
    color:#FFF;
    font-size:14px;
}

#catalografica {
  border: solid 1px #ccc;
  max-width: 75%;
  padding: 1em;
  margin-right: auto;
  margin-left: auto;
}

#licenciamiento { text-align: center; }

.huge { font-size: 200%; }

.smallcaps {
    font-variant: small-caps;
    display: inline;
}

.autores { 
    max-width: 60%;
}

.autores dd { 
    margin: 1em 0 0.5em 0;
}

.autores dd .nombre {
    display: inline;
    font-weight: bold;
}

.autores dd .pais {
    display: inline;
}

.nota-fuente {
    font-size: 80%;
    font-style: italic;
    clear: both;
}

ul.resenas {
    list-style-type: none;
}

li.res {
    display: block;
    background: #f7f7f7;
    border: solid 1px #bec671;
    margin: 0.5em 0 0.5em 0;
    padding: 1em;
}

li.res .datos-aut {
    text-align: right;
    color: #3a520f;
    font-style: italic;
}

@media (min-width: 970px) {
  /* La configuración normal: Desplegado en ≥970px */
}

@media (max-width: 969px) {
  /* Si mide menos de 970px, cambiamos los anchos fijos para que no
     ocupen más del espacio visible. La tabla inferior con los
     términos de licenciamiento queda con ancho mínimo para no
     descuachalangarse. */
  body { width: 100%; }
  #header { width: 100%; }
  #cintillo { width: 100%; }
  #creative table { min-width: 400px; }
}

@media (max-width: 799px) {
  /* Si tenemos menos de 800px, para que la tabla de términos de
     licenciamiento no se sobreponga con los logotipos, la aventamos
     para abajo */
  #creative {
    float: left;
    max-width: 400px;
  }
}

@media (max-width: 499px) {
  /* Si tenemos menos de 500px, el menú lateral se va a la parte
  superior y el contenido empieza directamente desde el principio */
  #menu {
    float: none;
    max-width: 100%;
  }
  #menu hr { display: none; }
  #menu ul {
    margin: 0;
    padding: 0.2em 1em 0.2em 1em;
  }
  #menu li {
    border-left: solid 1px #8e9641;
    display: inline;
  }
  #menu li:last-child {
    border-right: solid 1px #8e9641;
  }
  #menu a {
    display: inline;
    padding: 0.2em;
  }
  #contenido #main {
    padding-left: 1em;
    min-height: 1em;
  }
}
