@charset "UTF-8";

body {
  background-image:url(../imagenes/fondoweb.jpg);
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin:0 auto 0 auto;
  width:970px; 
}

#con-fondo {
    background-image:url(../imagenes/fondocontenido.jpg);
}

a:link{
    color:#ffffff;
    text-decoration: none;
}

a:visited{
    color:#FF6;
    text-decoration: none;
}

#header {
    height:130px;
    width:970px;
}

#header #tiposseco { 
    height: 130px;
    float:left;
}

#header #centro { 
    height: 130px;
    float:left;
    padding-left: 120px;
}

#header #logoseco { 
    height: 130px;
    float:right;
}

#contenido {
    padding:0;
    height:100%;
}

#contenido #ladoizq {
   float:left;
   width:250px;
   height:auto;
   padding-top:8px;
   max-width:205px;
   font-family:Tahoma, Geneva, sans-serif;
   font-size:12px;
}
 
#contenido #main{
  width:710px;
  padding-left: 250px;
  padding-top:8px;
  font-family:Tahoma, Geneva, sans-serif;  
  text-align:justify;
  font-size: 11px;
  line-height:1.4em;
} 
  
  
/* #navegacion { */
/*     border-top: solid 1px #999; */
/*     border-bottom: solid 1px #999; */
/*     margin-bottom: 0; */
/*     margin-top: 0; */
/*     padding:3px 110px 3px; */
/* }  */

/* #navegacion #menu { */
/*     background-image:url(../imagenes/fondohead_seco3.png) */
/* } */

/* #menu1{ */
/*     padding:0; */
/*     margin-bottom:2px; */
/*     margin-top: 0px; */
/* }	 */
	
/* #navegacion li{ */
/*     display:inline; */
/* } */

/* #navegacion li a:link{ */
/*     border-right: solid 1px #999; */
/*     font:Arial, Helvetica, sans-serif; */
/*     font-size:18px; */
/*     text-decoration:none; */
/*     padding:5px; */
/*     color:#666; */
/* } */
  
/* .inicio { */
/*     border-left: solid 1px #999; */
/* } */
  
/* #navegacion li a:hover{ */
/*     background:#ededed; */
/*     margin-top:0px; */
/* } */

#navegacionizq{
    list-style-type:none;
    padding:5px;
    margin: 0px;
    height:auto;
}

#navegacionizq li {
    border-bottom:1px dotted #93bcc3;  
    list-style-type:none;  
    text-indent:8px;  
}  

#navegacionizq a{
    font-size:14px;
    font-weight:bold;
    text-shadow:#453930 1px 1px 1px;
}
  
#navegacionizq a:hover{
    color:#090;
    margin:0px;  
}
	   
#main #text-cuerpos{
    padding: 0 0 25px 80px;
}
	
#abajo {
    font-family:Arial, Helvetica, sans-serif;
    font-size:9px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#logos { 
    float: right; 
    padding-left: 1em;
}

#creative {
}
	  
.titulo{
    font-size:14px;
    color:#333;
    font-weight:bolder;
}

/* .subtitulos{ */
/*     font-size:12px; */
/*     color:#333; */
/*     font-weight:bolder; */
/* } */

.contenidos{
    font-size:12px;
    color:#333;
}

/* .creditos{ */
/*     font-size:11px; */
/*     color:#333; */
/*     text-align:right; */
/* } */
