.contenidos{:style => 'min-height: 470px'}
  %ul
    %li
      Conferencia
      %em «Construcción Colaborativa del Conocimiento»: El libro
      en el Festival de Software Libre 2011, Puerto Vallarta, México, 4 de noviembre de 2011
    %li
      %a{:href => 'pres_cordoba.html'}
        Presentación del libro en Córdoba (Argentina),
      15 de diciembre del 2011
    %li
      %a{:href => 'video/120126_Momento_Economico.mp3'}
        Presentación
        %em «El conocimiento a través del tiempo» (00:56:43),
      en el programa de radio
      %em Momento Económico
      del Instituto de Investigaciones Económicas, UNAM. 26 de enero del 2011, 9:30AM.
      %br
      Participan: Gunnar Wolf, Sergio Ordóñez, Toño Galindo. Conduce: Irma Manrique.
    %li
      Presentación del libro en el Instituto de Investigaciones Económicas (IIEc-UNAM)
      23 de febrero de 2012, de 17:00 a 19:00.
      %br
      %em Participan:
      Gunnar Wolf, Alejandro Miranda (coordinadores), Max de Mendizábal, Irene Soria (comentaristas), Carlos Cruz Barrera (moderador)
      %ul
        %li
          %a{:href => 'imagenes/presentacion_iiec.jpg'} Cartel promocional de la presentación
        %li
          %a{:href => 'video_presen_iiec.html'} Video de la presentación
    %li
      %a{:href => 'pdf/11ResHernandez.pdf'} Reseña por Santiago Hernández Jiménez,
      publicada en la
      %a{:href => 'http://www.probdes.iiec.unam.mx/'} Revista Problemas del Desarrollo
      Volumen. 43 / Número 171, octubre-diciembre 2012 IIEc-UNAM
