%ul.contenidos
  %li
    Educación y Software Libre —
    %a{:href => "autores.html#miranda"} Alejandro Miranda
    (México)
    %ul
      %li
        Texto del capítulo:
        -# %a{:href => "html_apend_1.html"} HTML
        -# \/
        %a{:href => "pdf/seco3_apend1.pdf"} PDF
        %li
          %a{:href => "video_cap_4_y_ap1.html"} Videoconferencia
  %li
    Sugar —
    %a{:href => "autores.html#"} Werner Westermann
    (Chile)
    %ul
      %li
        Texto del capítulo:
        -# %a{:href => "html_apend_2.html"} HTML
        -# \/
        %a{:href => "pdf/seco3_apend2.pdf"} PDF
  %li
    Voto electrónico: ¿Quién tiene realmente la decisión? —
    %a{:href => "autores.html#wolf"} Gunnar Wolf
    (México)
    %ul
      %li
        Texto del capítulo:
        -# %a{:href => "html_apend_3.html"} HTML
        -# \/
        %a{:href => "pdf/seco3_apend3.pdf"} PDF
  %li
    Traducción de herramientas para revaloración y rescate de la lectura tradicional —
    %a{:href => "autores.html#galindo"} Antonio Galindo
    (México)
    %ul
      %li
        Texto del capítulo:
        -# %a{:href => "html_apend_4.html"} HTML
        -# \/
        %a{:href => "pdf/seco3_apend4.pdf"} PDF
      %li
        %a{:href => "video_apend_4.html"} Videoconferencia
      %li
        %a{:href => "res.html"} Reseñas
