#video
  %video{:autoplay => "true", :controls => "controls", :height => "240", :src => "#{Seco3.instance.videofile}", :width => "320"}
  %h3 Su navegador no puede reproducir video
#videohelp
  %p En caso de no poder ver el video:
  %ul
    %li
      Si su navegador no le permite la reproducción, le recomendamos usar el excelente reproductor de medios
      %em VLC
      — Descárguelo desde el
      %a{:alt => "Sitio oficial de descargas de VLC", :href => "http://www.videolan.org/vlc/"}
        sitio oficial de descargas
    %li
      Una vez que tenga VLC instalado,
      %a{:href => "#{Seco3.instance.videofile}"}
        haga click aquí
      para iniciar la reproducción.
