.autores.contenidos
  %dl
    %dd 
      %a{:name => 'busaniche'}
      .nombre Beatriz Busaniche
      .pais (Argentina)
    %dl
      Licenciada en Comunicación Social por la Universidad Nacional de Rosario. Trabaja para la Fundación Vía Libre desde 2003 y es integrante y fundadora de 
      %em Wikimedia Argentina.
      Se desempeña como docente en la Universidad de Buenos Aires, en la carrera de Ciencias de la Comunicación de la Facultad de Ciencias Sociales.
      %br
      Ha colaborado en distintas publicaciones, entre ellas: 
      %em Voto electrónico. Los riesgos de una ilusión, Mabi: monopolios artificiales sobre bienes intangibles
      y 
      %em ¿Un mundo patentado? La privatización de la vida y el conocimiento.
      También ha participado en el seguimiento de varios procesos políticos relacionados con el software libre y la tecnología en general. Es activa conferencista en diversos eventos nacionales e internacionales.

    %dd 
      %a{:name => 'colina'}
      .nombre Héctor Colina
      .pais (Venezuela)
    %dl
      Licenciado en Teoría de la Historia Universal por la Universidad de Los Andes. Vive en Mérida, Venezuela, considerada una de las cunas del software libre en su país. Es miembro fundador de varios grupos, entre ellos Velug, Gulmer y Solve.
  
    Trabaja en el Centro Nacional de Investigaciones en Tecnologías Libres (Cenditel), en el área de apropiación tecnológica. Además, colabora en el proyecto Debian desde 2004 y desarrolla para el proyecto Canaima 
    .smallcaps gnu/
    Linux, una iniciativa del gobierno venezolano para promover fortalezas sociotecnoeducativas. Se confiesa abierto amante del cine, la música, la lectura y del software libre.
  
    %dd 
      %a{:name => 'flores'}
      .nombre Carolina Flores
      .pais (Costa Rica)
    %dl
      Licenciada en psicología. Su trabajo se ha centrado en la comunicación social, las tecnologías de información y comunicación, las metodologías e implementación de procesos para los usos estratégicos de internet, la seguridad de la información y el cambio hacia el software libre.
      %br
      Es activista de la comunidad Software Libre Centroamérica. También forma parte del grupo Organizadas por Tecnologías y Recursos Abiertos Sostenibles 
      .smallcaps (otras),
      un espacio de reflexión y coordinación de acciones para promover la participación de las mujeres en las comunidades de software libre y el acercamiento de más de ellas hacia la tecnología en general.
      %br
      Actualmente, coordina el proyecto Fortalecimiento de las Capacidades 
      .smallcaps tic
      en Pymes y Gobiernos Locales Mediante el Uso de Software Libre, ejecutado por la Universidad Nacional de Costa Rica con el financiamiento del Programa de Naciones Unidas para el Desarrollo 
      .smallcaps (pnud).
  
    %dd 
      %a{:name => 'galindo'}
      .nombre Antonio Galindo
      .pais (México)
    %dl
      Programador y administrador de sistemas
      .smallcaps gnu/
      Linux desde hace 12 años, y miembro de la Fundación Linux. Ha participado desde 2004 como ponente en varios congresos nacionales e internacionales, relacionados con el software libre. Ha intervenido como organizador del Festival Latinoamericano de Instalación de Software Libre 
      .smallcaps (flisol).
      %br
      Ha formado parte de diversos proyectos orientados a brindar acceso y fomentar el uso y la apropiación de la tecnología a la población de zonas desfavorecidas.
  
    %dd 
      %a{:name => 'miranda'}
      .nombre Alejandro Miranda
      .pais (México)
    %dl
      Psicólogo educativo. Actualmente cursa el doctorado en Psicología en la Universidad Nacional Autónoma de México. Es activista de la educación con software libre, académico de la 
      .smallcaps unam,
      y fundador y coordinador del Encuentro en Línea de Educación, Cultura y Software Libres.
    %br
    Ha participado como ponente en múltiples congresos nacionales e internacionales con temas relativos a las tecnologías de la información en la educación y sistemas de evaluación por computadora. De 2004 a la fecha se dedica a la consultoría privada en torno al uso de las tecnologías de información y comunicación en la educación. Se interesa por proponer, desarrollar, implementar, evaluar y reestructurar modelos educativos apoyados por tecnologías de interconexión para facilitar la interacción en los procesos educativos presenciales, semipresenciales, en línea y a distancia, así como en probar metodologías de evaluación apoyadas por tecnología de interconexión y comunicación.
  
    %dd 
      %a{:name => 'ordonez'}
      .nombre Sergio Ordóñez
      .pais (México)
    %dl
      Doctor y maestro en Economía, graduado en las universidades París VII y París VIII, respectivamente. Obtuvo el grado de licenciatura en la Universidad Nacional Autónoma de México. Forma parte del Sistema Nacional de Investigadores en la Unidad de Investigación de Economía del Conocimiento y Desarrollo. Investiga temas sobre la economía del conocimiento, sector electrónico-informático e industria electrónica.
  
    %dd 
      %a{:name => 'pagola'}
      .nombre Lila Pagola
      .pais (Argentina)
    %dl
      Artista visual y docente en la Universidad Nacional de Villa María (Escuela Spilimbergo). Es activista de software libre y desde 1999 hasta 2006 coorganizó cada año las Jornadas de Artes y Medios Digitales. Como una extensión temporal de ese proyecto, en 2003 inició con Laura Benech el proyecto 
      %em Liminar,
      un sitio de difusión sobre arte y tecnología orientado a hispanohablantes, en especial al entorno latinoamericano y sus intereses.
      %br
      Su actuación artística reciente se ubica en el cruce del arte público, los medios tácticos y la gestión cultural. En sus trabajos más recientes investiga sobre las posibilidades de las obras derivadas que permiten las licencias 
      %em copyleft
      (como Creative Commons).
  
    %dd 
      %a{:name => 'txopitea'}
      .nombre Marko Txopitea
      .pais (Euskal Herria)
    %dl
      Es ingeniero informático. Estudió en la Universidad de Deusto. Trabaja como jefe de proyectos en una firma de consultoría informática.
      %br
      Colabora en varios proyectos relacionados con el software libre, el conocimiento libre y el 
      %em hacktivismo,
      como Librezale, Sindominio, Hackmeeting, Ezebez, Hacktivistas, Indymedia Euskal Herria, CompartirEsBueno y otros. Publica artículos sobre nuevas tecnologías, internet, redes sociales, propiedad intelectual, entre otros temas.
    %dd 
      %a{:name => 'valverde'}
      .nombre Érika Valverde
      .pais (Costa Rica)
    %dl
      Psicóloga social, inició sus estudios en la Universidad Centroamericana José Simeón Cañas, El Salvador, y finalizó en la Universidad de Costa Rica donde obtuvo el grado de licenciatura.
      %br
      Desde 2002 está ligada a diferentes proyectos con organizaciones sociales centroamericanas, acompañándolas y desarrollando metodologías para usos estratégicos de internet, los usos sociales de las tecnologías de la información y comunicación 
      .smallcaps (tic),
      y procesos de cambio a software libre. Sus metodologías integran temas como alfabetización digital, planificación y facilitación de espacios grupales en la red, educación popular, entre otros.
      %br
      Desde 2006, ante la necesidad de trabajar con recursos más seguros, sostenibles y políticamente congruentes, inició un proceso de acercamiento y capacitación en el uso de herramientas de software libre y código abierto.
    %dd
      %a{:name => 'westermann'}
      .nombre Werner Westermann
      .pais (Chile)
    %dl
      Docente de Historia y Geografía, egresado de la Pontificia Universidad Católica de Chile, donde trabaja como investigador; desde 1999 participa de la
      %a{:href => 'http://www.reuna.cl/'} Red Universitaria Nacional (REUNA)
      en investigación y desarrollo de proyectos como metodólogo y en el área de diseño instuccional en la 
      %a{:href => 'http://www.alejandria.cl/'} Videoteca Digital para la Educación Superior Alejandría
      y en la
      %a{:href => 'http://inalambrico.reuna.cl/'} Difusión Multimedial Inalámbrica IP.
      En 2001 participa como co-fundador de
      %a{:href => 'http://www.ciberania.cl/'} Ciberanía Consultores,
      donde administra y ejecuta el proyecto fondeado por FONTEC «Sistema integrado de bienes y servicios para la educación primaria».
      %br
      Desde 2004 es consultor en e-learning para el
      %a{:href => 'http://www.eclac.cl/ilpes/'} programa ILPES,
      dependiente de la Comisión Económica para América Latina y el Caribe (ECLAC-UN).
      %br
      Desde 2003, fundador y articulador de la comunidad educativa y tecnológica 
      %a{:href => 'http://www.educalibre.cl/'} Educalibre
      (en proceso de incorporarse como ONG), promoviendo el modelo tecnológico y colaborativo del Software Libre en la educación.
    %dd 
      %a{:name => 'wolf'}
      .nombre Gunnar Wolf
      .pais (México)
    %dl
      Ingeniero en software de formación autodidacta; entusiasta, usuario y desarrollador de software libre desde 1997, especializado en la administración de redes y en el desarrollo de sistemas Web.
      %br
      Ha fomentado la cohesión y profesionalización de las comunidades locales de software libre. Es fundador del Congreso Nacional de Software Libre, y entre 2002 y 2004 se desempeñó como coordinador general del mismo. Además, desde 2003 colabora activamente como desarrollador del proyecto Debian. Es fundador del Encuentro en Línea de Educación, Cultura y Software Libres, mismo que coordinó entre 2005 y 2010.
      %br
      Desde 2005 trabaja como académico del Instituto de Investigaciones Económicas de la 
      .smallcaps unam.
  
