.contenidos
  %p Para comprar la versión impresa de este libro, pueden hacerlo en:
  %ul
    %li
      %a{:href => 'https://www.etienda.unam.mx/artDetalle.html?artDetalle=Libro1-467&tipoArtClave=1&ntienda=iiec/'} Tienda electrónica IIEc/UNAM
      Recomendable para compras desde México
    %li
      %a{:href => 'http://www.lulu.com/product/paperback/construcci%C3%B3n-colaborativa-del-conocimiento/18470312'} Desde Lulu.com
      Recomendable para compras desde otros países
