.contenidos{:style => 'min-height: 470px'}
  %img{:src => 'imagenes/portada3d.jpg', :alt => 'Portada del libro "Construcción Colaborativa del Conocimiento" (3D)', :width => '262', :height => '424', :align => 'left', :style => 'margin: 1em'}
  %p
    Esta es la página base de la edición electrónica del trabajo resultante del Seminario Construcción Colaborativa del Conocimiento (SECO3). Puede descargar el
    %a{:href => "pdf/seco3.pdf"} libro completo en PDF
    (basado completamente en la edición impresa, en el que iremos corrigiendo las erratas conforme las vayamos encontrando), o elegir un capítulo en específico de las partes listadas en el menú.
  %p Además de los capítulos, en la presente edición electrónica podrá ver las videoconferencias con las que cada uno de los temas fueron presentados, y las reseñas enviadas por el público participante del seminario.
  .nota-fuente
    El código fuente del libro en
    %a{:href => "http://www.latex-project.org/"}
      %img{:src => 'imagenes/LaTeX_logo.svg', :alt => 'LaTeX', :width => '30'}
    puede ser obtenido como un árbol Git:
    %pre
      $ git clone http://seminario.edusol.info/seco3.git/
