.contenidos
  %p Esta investigación, arbitrada por pares académicos, se privilegia con el aval de la institución editora.
  %h3 Ficha catalográfica
  #catalografica
    HM851
    %br
    S45
    %br
    2010
    %br
    Construcción Colaborativa del Conocimiento (3 : 2010)
    %br
    Construcción Colaborativa del Conocimiento / coordinadores Gunnar Wolf y Alejandro Miranda. — México : UNAM, Instituto de Investigaciones Económicas, 2011
    %br
    321 p. : il. ; 21 cm.
    %br
    ISBN  978-607-02-2373-0
    %br
    1. Sociedad de la información — Congresos. 2. Innovaciones educativas — Congresos. I. Wolf, Gunnar, ed, . II. Miranda, Alejandro, ed. III. t.
    %br
    Dirección General de Bibliotecas, UNAM.
  %p Primera edición, 10 de julio de 2011
  %p
    .smallcaps D. R. © Universidad Nacional Autónoma de México
    %br
    Ciudad Universitaria, Coyoacán, 04510, México D.F.
    %br
    .smallcaps Instituto de Investigaciones Económicas
    %br
    Circuito Mario de la Cueva s/n
    %br
    Ciudad de la Investigación en Humanidades, 04510, México D.F.
  %dl
    %dt ISBN
    %dd 978-607-02-2373-0
    %dt Diseño de portada
    %dd Victoria Jiménez
    %dt Fotografía de portada
    %dd
      %a{:href => 'http://flickr.com/photos/dingilingi'} Luis Mata
    %dt Diseño de interiores y formación
    %dd Gunnar Wolf
    %dt Corrección y cuidado de la edición
    %dd Marisol Simón
  %p Impreso y hecho en México
  %hr
  #licenciamiento
    %p.huge ¡Copia este libro!
    %p Los textos que componen este libro se publican bajo formas de licenciamiento que permiten la copia, la redistribución y la realización de obras derivadas siempre y cuando éstas se distribuyan bajo las mismas licencias libres y se cite la fuente.
    %p
      El
      %em copyright
      de los textos individuales corresponde a los respectivos autores.
    %p
      El presente trabajo está licenciado bajo un esquema Creative Commons Reconocimiento Compartir bajo la misma licencia,
      %a{:href => 'http://creativecommons.org/licenses/by-sa/3.0/deed.es'} CC-BY-SA 3.0 Unported.
    %p.huge Compartir no es delito.
