%ul.contenidos
  %li
    Política 2.0 —
    %a{:href => "autores.html#"} Marko Txopitea
    (Euskal Herria)
    %ul
      %li
        Texto del capítulo:
        -# %a{:href => "html_cap_6.html"} HTML
        -# \/
        %a{:href => "pdf/seco3_cap6.pdf"} PDF
      %li
        %a{:href => "video_cap_6.html"} Videoconferencia
  %li
    Analfabetización informática o ¿por qué los programas privativos fomentan la analfabetización? —
    %a{:href => "autores.html#busaniche"} Beatriz Busaniche
    (Argentina)
    %ul
      %li
        Texto del capítulo:
        -# %a{:href => "html_cap_7.html"} HTML
        -# \/
        %a{:href => "pdf/seco3_cap7.pdf"} PDF
      %li
        %a{:href => "video_cap_7.html"} Videoconferencia
  %li
    Construyendo metodologías para la infoinclusión —
    = succeed "," do
      %a{:href => "autores.html#flores"} Carolina Flores
    %a{:href => "autores.html#valverde"} Erika Valverde
    (Costa Rica)
    %ul
      %li
        Texto del capítulo:
        -# %a{:href => "html_cap_8.html"} HTML
        -# \/
        %a{:href => "pdf/seco3_cap8.pdf"} PDF
