%ul.contenidos
  %li
    Factores de motivación y elementos de reconocimiento —
    %a{:href => "autores.html#wolf"} Gunnar Wolf
    (México)
    %ul
      %li
        Texto del capítulo:
        -# %a{:href => "html_cap_4.html"} HTML
        -# \/
        %a{:href => "pdf/seco3_cap4.pdf"} PDF
      %li
        %a{:href => "video_cap_4_y_ap1.html"} Videoconferencia
  %li
    La construcción colaborativa del conocimiento visto desde la óptica de las comunidades de software libre —
    %a{:href => "autores.html#colina"} Héctor Colina
    (Venezuela)
    %ul
      %li
        Texto del capítulo:
        -# %a{:href => "html_cap_5.html"} HTML
        -# \/
        %a{:href => "pdf/seco3_cap5.pdf"} PDF
      %li
        %a{:href => "video_cap_5.html"} Videoconferencia
      %li
        %a{:href => "res_cap_5.html"} Reseñas
