%ul.contenidos
  %li
    Software Libre y Construcción Democrática de la Sociedad —
    = succeed "," do
      %a{:href => "autores.html#miranda"} Alejandro Miranda
    %a{:href => "autores.html#wolf"} Gunnar Wolf
    (México)
    %ul
      %li
        Texto del capítulo:
        -# %a{:href => "html_cap_2.html"} HTML
        -# \/
        %a{:href => "pdf/seco3_cap1.pdf"} PDF
      %li
        %a{:href => "video_cap_1.html"} Videoconferencia
      %li
        %a{:href => "res_cap_1.html"} Reseñas
  %li
    Esquemas permisivos de licenciamiento en la creación artística —
    %a{:href => "autores.html#pagola"} Lila Pagola
    (Argentina)
    %ul
      %li
        Texto del capítulo:
        -# %a{:href => "html_cap_2.html"} HTML
        -# \/
        %a{:href => "pdf/seco3_cap2.pdf"} PDF
      %li
        %a{:href => "video_cap_2.html"} Videoconferencia
      %li
        %a{:href => "res_cap_2.html"} Reseñas
  %li
    Fundamentos teóricos y ubicación histórica de la economía y sociedad del conocimiento —
    %a{:href => "autores.html#ordonez"} Sergio Ordóñez
    (México)
    %ul
      %li
        Texto del capítulo:
        -# %a{:href => "html_cap_3.html"} HTML
        -# \/
        %a{:href => "pdf/seco3_cap3.pdf"} PDF
      %li
        %a{:href => "video_cap_3.html"} Videoconferencia
      %li
        %a{:href => "res_cap_3.html"} Reseñas
