.contenidos{:style => 'min-height: 450px'}
  %img{:alt => 'Portada del libro Construcción Colaborativa del Conocimiento', :src => 'imagenes/portada_mini.jpg', :width => '278', :height => '413', :style => 'float: left; margin: 1em;'}

  %p Parte, en un principio, de la lluvia de ideas entre Gunnar, Alejandro Miranda y su servilleta, Victoria.

  %p Los dos grandes cerebros de esta obra, me lanzaban ideas, conceptos y metáforas de la construcción y la colaboración que iban desde las hormigas hasta las anémonas y pasaban por las vacas muertas.

  %p
    Y en la búsqueda nos topamos con
    %a{:href => 'http://www.flickr.com/photos/dingilingi/2970275668/', :alt => 'Hormigas sobre curcubitacea'}
      esta hermosa foto de Luís Mata “Dingilingi”,
    decía todo; ese caminar de las hormigas dibujando la vórtice donde pareciera que no van a ningún lugar, que no avanzan, sin embargo lo hacen, la espiral da vueltas y vueltas progresivas que se crea del centro y destella hacia afuera. No es una espiral tumultuoso, es un baile un tanto fálico, un tanto delicioso que obtiene el néctar de la flor, ese sol enorme de sabiduría, rico en nutrientes y tanto necesarios para vivir...

  %p ¿Y cual será el fin de la flor?  Más vida para las hormigas, el ciclo de la vida.

  %p Sólo había que colocar la imagen en una posición armónica, reforzar la idea del espiral para jugar y disfrutar el discurso visual entre textos, textura e imagen.

  %p{:align => 'right'} María Victoria Jiménez Sánchez
