.contenidos
  %h3 En resumen
  %dl
    %dt ¿Qué?
    %dd
      Vamos a presentar el libro
      %a{:href => 'http://seminario.edusol.info/seco3/'} Construcción colaborativa del conocimiento,
      un proyecto que, dado el perfil de esta lista, muy probablemente les resultará interesante
    %dt ¿Cuándo?
    %dd Jueves 15 de diciembre, 18:00
    %dt ¿Dónde?
    %dd
      Aula D, Pabellón Residencial
      %br
      Facultad de Filosofía y Humanidades
      %br
      Av. Medina Allende s/n
      %br
      Ciudad Universitaria, Córdoba
    %dt ¿Quién promueve?
    %dd El Área de Tecnología Educativa (FFyH-UNC) y la Fundación Vía Libre
    %dt ¿Quién participa?
    %dd
      Ximena Triquell
      %br
      Lila Pagola
      %br
      Gunnar Wolf
    %dt ¿Puedo bajarlo?
    %dd
      ¡Por supuesto!
      %a{:href => 'http://seminario.edusol.info/seco3/pdf/seco3.pdf'} Desde nuestra página Web.
      El libro está licenciado bajo una licencia permisiva (CC BY-SA).

  %h3 ¿De qué trata el libro?
  %p
    A lo largo del 2009 y 2010, como proyecto derivado del
    %a{:href => 'http://edusol.info'} Encuentro en Línea de Educación, Cultura y Software Libre (EDUSOL),
    mantuvimos un seminario con autores invitados a escribir de diversos temas tocantes
    a cómo el mundo supercomunicado ha alterado la forma de producir y
    compartir conocimiento. Citando de la contraportada del libro:
  %blockquote
    Lo que nos define como humanos es nuestra capacidad, por un lado,
    de crear conocimiento, y por otro, de compartirlo o comunicarlo
    con nuestros semejantes. Ambos rasgos se han engranado a lo largo
    de decenas de miles de años; al unirlos, el conocimiento
    trasciende al individuo, evitando la necesidad de redescubrir o
    reinventar lo que ya sabemos. Compartir el conocimiento es lo que
    llevó a nuestra especie al rol dominante que hoy en día ocupa.
    %br
    El presente libro es resultado del trabajo que durante un año se
    efectuó en el seminario «Construcción Colaborativa del
    Conocimiento» poniendo en práctica las nuevas formas de producción
    de los contenidos.
    %br
    En este libro, once autores de muy diferentes orígenes
    disciplinarios y geográficos abordan cómo en un mundo
    hiper-comunicado se han modificado las reglas básicas de la
    interacción en áreas tan distintas como la creación artística, las
    organizaciones sociales, el desarrollo de código de computadora,
    la educación o el sector productivo.

  %h3 ¿Quién participa?
  %p
    La presentación de esta publicación contará con comentarios a cargo de
    la Dra. Ximena Triquell (UNC- Conicet). Participarán la autora Lila
    Pagola (UNVM) y el autor y coordinador Gunnar Wolf (IIEc-UNAM).

  %h3 ¿Quién participó como autor?
  %ul
    %li Beatriz Busaniche (Argentina)
    %li Carolina Flores (Costa Rica)
    %li Alejandro Miranda (México)
    %li Lila Pagola (Argentina)
    %li Érika Valverde (Costa Rica)
    %li Héctor Colina (Venezuela)
    %li Antonio Galindo (México)
    %li Sergio Ordóñez (México)
    %li Marko Txopitea (Euskal Herria)
    %li Werner Westermann (Chile)
    %li Gunnar Wolf (México)
  %p
    Para más detalles acerca de cada uno, revisa en la página
    %a{:href => 'http://seminario.edusol.info/seco3/autores.html'} Acerca de los autores.

  %h3 ¿Cómo puedo conseguirlo?
  %p
    El libro completo está
    %a{:href => 'http://seminario.edusol.info/seco3/pdf/seco3.pdf'} disponible para su descarga
    bajo un licenciamiento permisivo (CC BY-SA). Puedes también
    %a{:href => 'http://seminario.edusol.info/seco3/compra.html'} comprar una versión impresa.
    Llevaremos también algunos ejemplares impresos a la presentación.

  %h3 ¿Qué más hay?
  %p
    En
    %a{:href => 'http://seminario.edusol.info/seco3/'} nuestro sitio Web
    tenemos los videos de las conferencias que fueron presentadas en el
    transcurso del seminario, cubriendo buena parte de los temas del libro,
    así como reseñas a algunos de ellas.
