.contenidos
  %p Lo que nos define como humanos es nuestra capacidad, por un lado, de crear conocimiento, y por otro, de compartirlo o comunicarlo con nuestros semejantes. Ambos rasgos se han engranado a lo largo de decenas de miles de años; al unirlos, el conocimiento trasciende al individuo, evitando a futuros individuos la necesidad de redescubrir o reinventar lo que ya sabemos. Compartir el conocimiento es lo que llevó a nuestra especie al rol dominante que hoy en día ocupa.
  %p Pero la creación y compartición ha sufrido y sufre una profunda transformación de conocimiento en las últimas décadas,  gracias a rápida evolución de las telecomunicaciones, especialmente por el uso extendido de la  Internet y la telefonía celular. Estamos transitando hacia la tan anhelada, aunque al mismo tiempo tan temida, sociedad del conocimiento.
  %p En éste libro, once autores de muy diferentes orígenes disciplinarios y geográficos  abordan cómo un mundo hiper-comunicado  se han modificado las reglas básicas del interacción en áreas tan distintas como la creación artística, las organizaciones sociales, el desarrollo de código de computadora, la educación o  el sector productivo
  %p El presente libro es resultado del trabajo que durante un año se efectuó en el seminario «Construcción Colaborativa del Conocimiento» poniendo en práctica las nuevas formas de producción de los contenidos.
  %ul
    %li
      Texto de la presentación:
      -# %a{:href => "html_presentacion.html"} HTML
      -# \/
      %a{:href => "pdf/seco3_presentacion.pdf"} PDF
    %li
      %a{:href => "video_presentacion.html"} Presentación
      —
      Videoconferencia
