%ul.resenas
  %li.res
    %a{:name => "res1"}
    .datos-aut
      %span.autor Lucía Osuna
      %span.fecha
        18 de octubre,
        2009
    %p
      Reseña Sexta Videoconferencia con el tema "Arte,
      Copyleft y el problema del doble estándar en
      contextos de contradicción" la ponente Lila Pagola
      el día jueves 24 de septiembre.
    %p
      Muy buena la Videoconferencia presentada por la
      ponente Lila Pagola estuve siguiendo las misma a
      través de VCL y del IRC, el tema interesante,
      aunque les confieso que no es de gran dominio de
      mis humildes conocimientos , apenas estoy
      empezando a tener un poco más claro la importancia
      de copyright y copyleft en relación al avance de
      las Tecnologías.
    %p
      En relación a la Videoconferencia, la imagen se
      vio muy bien, nitida, clara sin embargo el audio
      tenía su problema de retraso, lo cual en algunos
      momentos se acentuó un poco más, teniendo un
      retorno lento.
    %p
      Entre lo importante del tema tratado en la
      videoconferencia cuando expuso la ponente sobre la
      utilización de la obra de arte la Gioconda o Mona
      lisa a partir del siglo XX, se comienza a
      reproducir técnicamente, el concepto de copia se
      desdobla o se esconde bajo el nombre de: Homenaje,
      materia prima, reproducción maquinal, entre otros,
      un ejemplo de ello la Mona lisa o Gioconda en un
      juego de lego, entre otras reproducciones que han
      hecho de la misma.
    %p
      De la misma manera han sido utilizadas varias
      obras de arte, fotografías, diseños industriales,
      entre otros que han sido reproducidos
      técnicamente.
    %p
      La ponente dice que: "En las sociedades del Siglo
      XXI, el arte no se expondrá. Se disfundirá."
    %p
      Se está tratando de llevar la cultura del
      copyleft en la dinámica de acceso/compartir que
      sería la cultura cuasi y proto-copyleft, el
      copyleft le parece muy lindo a los artistas pero
      hasta allí, ellos no lo quieren.
    %p
      Sin embargo, se está tratando de plantear el
      copyleft, para que se discuta y se trate de
      comprender, sobre todo desde el punto de vista de
      los procesos de cambio y de transformación que
      conllevarán al acceso y la distribución de las
      obras artísticas.
    %p
      La videoconferencia ha sido muy enriquecedora, en
      el IRC como siempre se llevó una discusión
      constructiva en relación a lo que iba diciendo la
      ponente. Luego la ponente fue respondiendo las
      preguntas formuladas por los asistentes.
    %p Sin más,
    %p Seguimos en contacto.
    %p Lucía Osuna
