%ul.resenas
  %li.res
    %a{:name => "res1"}
    .datos-aut
      %span.autor Milly
      %span.fecha
        23 de junio,
        2009
    .tit-res Lo posible aquí y ahora
    %p
      Los intelectuales economistas tienden a debatir
      permanentemente las acciones necesarias que
      requiere una sociedad para administrar de manera
      óptima los bienes que la misma produce; entonces
      se aplican en el estudio del funcionamiento de
      todo tipo de empresas, mejor dicho: organizaciones
      (para no excluir a todas aquellas de tipo
      cultural, educativo, religioso, etc.) y su
      interrelación con los organismos generados por la
      infraestrucrura del modo de producción tratado;
      entre estas acciones generadas ha surgido la idea,
      dentro de la producción social de: " la economía y
      sociedad del conocimiento ".
    %p
      Nuestra economía latinoamericana puede
      encuadrarse aún entre las economías míxtas, en
      donde gobierno e iniciativa privada generan
      sistemas económicos híbridos, algunos más
      tendientes a la Industria Privada y otros más a la
      Pública, pero esa es nuestra realidad, esta en la
      cual podemos planear, moldear, etc. y en la que
      podemos intervenir directamente. El conferencista
      Sergio Ordoñez cubre varios puntos sobre la
      economía y sociedad del conocimiento puntualizando
      su producción social; en este sentido, define la
      tendencia hacia el estado social -precisamente- y
      alejamiento del capitalismo típico (del
      conocimiento, en este caso), no es sólo porque el
      sector científico educativo, y en general el
      conocimiento en sí pertenezca por derecho pripio a
      la fuerza social que lo genera, sino porque casi
      casi estratégicamente resulta ser el articulador
      del cambio, aunque sea en proporción gradual,
      hacia una nueva dinámica industrial en donde, por
      supuesto, las TIC ( Tecnología de Información y
      Comunicación) vienen a ser la principal
      herramienta.
    %p
      Ahora bien, de la economía de la
      información... emerge esta economía del
      conocimiento que se aborda en este tema, como un
      nuevo programa activador, más acabado, más
      funcional, algo no sólo pasivo (como la
      información y recolección de datos que da la
      economía de la información), sino más bien como el
      conocimiento elegido, purificado -por así decirlo-
      que otorga la ciencia, para enfocarlo a la
      obtención de metas. Los opinantes del tema, en
      general, expresan la necesidad de que los recursos
      naturales sean administrados de tal modo que no
      existan carencias, que la distribución de la
      riqueza sea justa; que los satisfactores generados
      tengan un equilibrio permanente en su
      distribución. De aquí que los medios de producción
      constituyan "la herramienta" clave para lograr
      darle vida a la economía, incluyendo a la del
      conocimiento aquí puesta en la mesa de
      discusión.
    %p
      El problema aquí surge cuando alquien quiere
      apropiarse de esta producción social: la ciencia,
      EN EL ÁMBITO QUE SEA; es decir, cuando
      egoístamente se lucra con el conocimiento. El
      Capitalismo del conocimiento olvida las necesidade
      colectivas y con el pretexto de su invento de
      "Propiedad" (en este caso intelectual) explota
      para beneficio propio o de unos cuantos lo que
      pertenece a TODOS. En cambio en la economía y
      sociedad del conocimiento se procede en beneficio
      de el Hombre (Humanidad) en general. Algo que
      pertenece a todos (el conocimiento) debe
      distribuírse a todos, pero sé que hay muchas ideas
      más.
    %p Milly Fritz Reyes.
  %li.res
    %a{:name => "res2"}
    .datos-aut
      %span.autor msch
      %span.fecha
        4 de junio,
        2009
    .tit-res
      Economía del don - Ejemplos y
      Beneficios
    %p Algunos ejemplos de la economía del don son:
    %ul
      %li
        El desarrollo del software libre y otras
        formas de trabajo colaborativo.
      %li
        Una campaña política, en el que un político
        favorece a un determinado grupo a cambio de
        apoyo futuro y/o como recompensa por un favor
        anterior.
      %li Una "red de favores" en una empresa.
      %li
        Una familia en la que cada generación paga la
        educación de la siguiente. Este es un ejemplo de
        regalo que crea una obligación implícita de dar
        un regalo a una tercera persona, en lugar de al
        que realiza el presente.
      %li Diezmo religioso.
    %p
      La economía del don se denomina en ocasiones
      economía de lo compartido, aunque muchos
      economistas reservan el término compartir para
      referirse al uso de un recurso por más de un
      consumidor, como una biblioteca pública. Uno de
      los posibles beneficios de la economía del don,
      que comparte con las economías planificadas, es
      que da bienes a un necesitado aunque este no tenga
      en ese momento manera de dar algo a cambio. Por
      ejemplo, si algunas personas de una sociedad no
      tienen ningún bien material ni dinero que dar al
      mercado, aún pueden recibir caridad si existen los
      medios suficientes. De la misma manera, en la gran
      mayoría de las sociedades, los padres dan apoyo
      financiero a sus hijos en su infancia sin una
      negociación explícita de lo que esperan a
      cambio. Algunas personas sostienen que variaciones
      de la economía del don podrían ser la clave para
      romper el círculo de la pobreza.
  %li.res
    %a{:name => "res3"}
    .datos-aut
      %span.autor Gabriel Aroca
      %span.fecha
    .tit-res
      Nuevos Paradigmas Económicos
      para la Globalización
    %p
      Estas "nuevas" propuestas de paradigma son muy
      interesantes, pues el problema histórico de la
      humanidad, más que la escasez de recursos ha sido
      la polarización de su distribución.  Así, tanto
      las crísis económicas como las guerras, lo peor
      del ser humano, han sido la consecuencia última de
      la propiedad privada y la envidia, que no
      olvidemos, menos importante, en el gregarismo
      antropológico donde no es la necesidad del objeto
      o bien, sino el simple deseo irracional de poseer
      aquello que no se tiene, independientemente de su
      uso o incluso conveniencia y comprensión del
      mismo.
    %p
      La economía no existe, es algo creado de manera
      arbitraria, pero sus víctimas son reales.  Y en
      mayor o menor medida, somos todos.
    %p
      El capitalismo, en todas sus formas, se basa en
      un principio de desigualdad según comprando a 3 y
      vendiendo a 5 tengo una ganancia ( a costa de una
      pérdida de la otra parte implicada).
    %p
      Otra forma de beneficio o ganancia consiste en
      rebajar las condiciones de trabajo, bien por
      subcontratas, sueldos cada vez más bajos, más
      horas por el mismo sueldo, reducciones en la
      seguridad de los trabajadores, y otras infinitas
      formas que quienes más y quienes menos hemos
      sentido en nuestra piel o en otras muy
      cercanas.
    %p
      Esto, generalizado, genera que para que haya
      riqueza, deba, necesariamente, de existir
      pobreza.
    %p
      Y esto no cambia con el conocimiento libre, pues
      existen privilegios, enchufismos y barreras
      económicas reales.
    %p
      La tecnológica es una barrera más que pretende
      separar a quienes pueden de los que no.
    %p
      Todos sabemos que habiendo alimentos de sobra en
      el planeta, aún sigue habiendo muertes por
      inanición.
    %p
      Siempre, por mucho que evolucione la tecnología,
      serán necesarias personas para trabajos manuales,
      como la recolección, así se deveiene en que se
      precisa de un modelo que maximize la calidad de
      vida, con la ocupación máxima ( esto es, sin
      desempleo), ni carencia.
    %p
      Ahora bien, esto se asemeja aparentemente mucho a
      los modelos socialistas, que como bien sabemos,
      debido a la corrupción inherente al ser humano,
      producen falta de libertad, desigualdades de facto
      en una de las formas de tiranía más repudiables y
      eficientes conocidas.
    %p
      Este modelo, maximiza lo colectivo frente a lo
      individual.
    %p
      Por otro lado, el modelo paradigmático
      capitalista, favorece la iniciativa individual,
      pero a costa de un salvaje e inhumano "sálvese
      quien pueda", con tristes y sorprendentes
      consecuencias, como que la sanidad no solo no sea
      pública sino que prime el principio del beneficio
      sobre el de los derechos humanos.
    %p
      Este, por el contrario, maximiza lo individual
      ante lo colectivo.
    %p
      El reto, consiste en maximizar ambos términos
      contradictorios, teniendo al ser humano y no solo
      al aspecto monetario como prioridad.
    %p
      Globalizar pues, el humanismo, la ética frente a
      la prima a la astucia para ganar más dinero y
      beneficiarse a costa de otros.
    %p ¿Utopía o Reto?
    %ol
      %li
        Universalización de la cobertura de
        necesidades básicas: alimentación, vivienda,
        trabajo, calidad de vida...
      %li
        Debe universalizarse una serie de normas
        éticas, independientemente de la cultura,
        religión, etc.
      %li
        Debe universalizarse la Educación, ya que toda
        forma de Sociedad del Conocimiento, requiere de
        un gran abanico de habilidades cognitivas.
      %li
        Debe haber una redistribución de la riqueza,
        de tal manera que no haya carencia.
      %li
        ¿Cómo se compatibiliza la propiedad privada
        con una sociedad libre pero igualitaria?
      %li
        En el nuevo sistema no sería crucial el
        crecimiento de la economía ( producción,
        beneficio), sino de abastecer y gestionar los
        recursos disponibles y los necesarios. Se haría
        necesario un modo de control de natalidad, de la
        población mundial.
      %li
        Debe coordinarse a nivel mundial, y deben
        estar implicados de facto, todos los seres
        humanos de este planeta.
      %li
        Todos los sistemas, en el modelo teórico,
        mejoran la vida humana, pero en su puesta en
        práctica, acaban produciendo injusticias y
        oprimiendo a quienes pretendían liberar. Así, la
        intervención humana, debe ser tenida en cuenta
        al margen del modelo puramente racional, lo cual
        introduce una incertidumbre muy difícil de
        preveer y calcular a nivel de modelo
        matemático.
    %p
      Francisco Gabriel Aroca Tapia
      %br/
      I.T. Informática de Sistemas
      %br/
      Docente en Informática y Humanista
  %li.res
    %a{:name => "res4"}
    .datos-aut
      %span.autor Beatriz Ramírez
      %span.fecha
        13 de junio,
        2009
    %p
      Esta excelente disertación ofrecida por Sergio
      Ordóñez, expuso a consideración los conceptos
      de:
    %ul
      %li "Economía del Conocimiento"
      %li "Capitalismo del Conocimiento"
      %li "Sociedad del Conocimiento"
    %p Diferencias  y características
    %p
      "Economía del Conocimiento" y "Capitalismo del
      Conocimiento"
    %p Conceptos:
    %p
      \- "La emergencia de la producción social
      considerando no solamente actividades industriales
      sino también de servicios"
    %p
      Este fenómeno se viene produciendo desde varias
      décadas y produjo, a partir de los 80, un salto de
      calidad que se podría conceptualizar bajo el
      término de "Capitalismo del Conocimiento"
    %p
      \- Capitalismo del Conocimiento: " Es la forma
      histórica en la que hasta ahora se ha dado. El
      modo como existe en la realidad, la economía del
      conocimiento"
    %p
      Diferencias entre Economía del Conocimiento y
      Capitalismo del Conocimiento:
    %p
      La economía del Conocimiento es el proceso que
      incluye, actividades en conocimiento, procesos de
      valorización del conocimiento, y no necesariamente
      genera valor desde el punto de vista
      capitalista.
    %p
      Entonces, el Capitalismo del Conocimiento es la
      forma histórica en la que se ha dado la Economía
      del Conocimiento.
    %p
      \-La Sociedad del Conocimiento, sería la necesaria
      construcción de un modelo de sociedad a partir de
      los cambios tecnológico-económicos o tecnológico-
      productivos, que acompañan a la Economía del
      Conocimiento.
    %p Es decir:
    %p
      La forma realmente existente de la Economía del
      Conocimiento sería el Capitalismo del Conocimiento
      y para que tengan viavilidad histórica es
      necesaria la construcción de un edificio social
      articulado, correspondiente con los cambios
      tecnológico-productivos de los cuales da cuenta el
      concepto de Sociedad del Conocimiento.
    %p Este Edificio Social incluye:
    %ul
      %li - La forma de organización política.
      %li - La Ideología dominante en la sociedad.
      %li - La Cultura.
      %li - Las 	Instituciones.
    %p
      Elementos teóricos definirían al Capitalismo del
      Conocimiento, como la Nueva Fase del Desarrollo de
      la Economía Mundial.
    %p
      Lo caraterístico del Capitalismo del
      Conocimiento, como forma histórica existente de la
      Economía del Conocimiento, es el incremento en la
      incorporación del conocimiento en la producción
      social.
    %p Un gráfico muestra:
    %p
      \-En línea anaranjada, el total de patentes
      liberadas de la oficina de Patentes y Marcas de
      EEUU.
    %p
      \-En línea amarilla, los patentadores
      estadounidenses
    %p
      Es posible advertir una tendencia al incremento
      del número de patentes liberadas en la oficina de
      pantentes, a partir de los años 80. Acentuando ese
      ascenso con posterioridad a 1995. Aumenta también
      la distancia entre ambas líneas.
    %p
      Esto indicaría un proceso de internacionalización
      del conocimiento dado que, el hecho de que los
      patentadores estadounidenses, como proporción del
      total de patentes liberadas en EEUU tiende a
      disminuir. Muestra la creciente incorporación de
      conocimiento creado en otras economías.
    %p Este indicador del proceso se complementa con:
    %ul
      %li
        \- La cuantificación de los intercambios
        tecnológicos entre los países.
      %li
        \- Indicadores relacionados con los procesos
        de innovación, etc.
      %li - La inversion en conocimientos.
    %p
      Se advierte, a partir de los 80 del siglo
      anterior, que todos apuntan a un salto de calidad
      en la incorporación del conocimiento en la
      producción social. Proceso que se acentúa en los
      años 90 y con posterioridad a la crisis del 2001 y
      2002.
    %p
      La principal característica de esta Nueva Fase de
      Desarrollo es la creciente incorporación de
      conocimiento, en la producción social.
    %p Por lo tanto:
    %p
      \-La constitución del conocimiento como principal
      fuerza productiva y dinamizadora del crecimiento
      en los países.
    %p Características del capitalismo del conocimiento:
    %p
      \- Articulación estrecha entre el SC-E, integradas
      por Instituciones dedicadas a la investigación y
      educación y, las Comunidades de Desarrollo
      Colaborativo del Conocimiento y, la
      Economía. Favorecida esta articulación por el
      desarrollo del software. El software es el nuevo
      vínculo entre el SC-E y la Economía.
    %p
      \- Surgimiento de una nueva forma de producción
      articulada por esta nueva base tecnológica. El
      Toyotismo (contrario a lo que fue el Fordismo) con
      la incorporacion del conocimiento tacito.
    %p
      \- Nuevo complejo productivo de actividades
      industriales y de servicios que constituyen el
      Sector electrónico-informático. Este sector
      articula una nueva dinámica de industria de
      servicios.
    %p
      Características de este nuevo sector
      electrónico-informatico tiende a integrar y
      empujar las actividades hacia adelante. En este
      nuevo ciclo industrial la oferta dinamiza la
      demanda y no al contrario.
    %p Precios decrecientes.
    %p Sociedad del conocimiento aun inexistente.
    %p
      Aun no se han desarrollado el edificio social
      articulado dado que no halla una correspondencia
      con nuevas instituciones, nueva ideología
      dominante, nueva cultura. La actual crisis esta
      expresando el agotamiento de una etapa.
    %ul
      %li Neoliberamismo
      %li Via asiática
      %li
        Via
        escandinava
    %p
      En la vía asiática, han demostrado ser envolturas
      socio-institucionales más dinámicas, desde los 80
      del siglo anterior, para el desarrollo de esta
      nueva fase. Corea, Hong Kong, China,
      India. Participación fuerte del Estado, como
      agente que ha propiciado la integración de estos
      paises, en los procesos internacionales del
      conocimiento. No imitando a los preceptos del
      mercado sino aprovechando estas fuerzas para
      enseñar su propia estrategia de
      desarrollo. Coercitivamente y centralizadora
    %p
      ¿Cómo saldran librados los paises de acuerdo a
      estas vias? ¿Ha que dará paso el
      neoliberalismo?
    %p
      Vía de los países escandinavos:
      %br>/
      Presencia
      del estado sin embargo, también una incidencia
      fuerte, de estas nuevas organizaciones sociales de
      las sociedades del conocimiento.
    %p
      ¿Cuál será el sendero principal que tomara el
      desarrollo anterior de la sociedad del
      conocimiento?
    %p
      Con la charla quedé apabullada y con la sensación
      de volver al período medioeval ya que es el fin de
      la globalización. Las sociedades tenderán a ser
      mas cerradas, con escaso o ningún ingresar de
      inmigrantes. Volvemos, momentáneamente, al
      castillo medieval.
    %p Respuestas a Preguntas Varias
    %p
      ¿Por qué economia del conocimiento y no de la
      información?
    %p
      La información es un momento en la elaboracion
      por eso nos referimos al conocimiento.
    %p
      Proyecto venus, sugerente, nueva base tecnológica
      que incrementa fuertamente la productividad. Las
      tasas de crecimiento tienden a incrementarse por
      ej. EEUU estan arriba de las tasas históricas.
    %p
      ¿Quién se apropia de los frutos de la nueva
      tecnología?  mientras siga siendo privada y siga
      rigiéndose bajo los principios del
      capitalismo.
    %p Los regimens de patentes tratan de proteger
    %p
      El Neoriberalismo ha reducido la capacidad de
      gestión del estado de los procesos económicos sin
      crear nuevas formas de incidencia del estado.
    %p
      La via escandinava a diferencia de ellos ha
      readecuado el estado social derivada de la fase
      anterior adecuar los principios a las nuevas
      necesidades correspondientes a estos cambios
      tecnologicos productivos. El estado continua
      teniendo incidencia pero bajo la logica de estos
      nuevos cambios tecno-productivos por ejmño las
      empresas Nokia. Viene de la explotacion de
      recursos forestales luego tecnologica telefonia
      celular bajo politicas activas de apoyo del estado
      para formar una empresa nacional.
      %br>/
      Combina los
      aspectos positivos del estado de bienestar.
    %p
      Toyotismo, sistema de trabajo, nueva forma de
      organizacion surge en Japón pero como respuesta a
      la necesidad de restructuracion de la industria
      japonesa automotriz luego de la 2 Guerra.
    %p
      Trabajo en equipo
      %br>/
      Autogestion
      %br>/
      Proceso
      productivo desarrollado como flujo
      continuo
      %br>/
      Polivalencia
      %br>/
      Agregado de
      tareas
      %br>/
      Objetivos contrarios a los del
      fordismo.
      = succeed "Division" do
        %br/
      entre concepcion y
      ejecucion del trabajo. Parcializacion del trabajo
      (Chaplin, ajustar toda una tuerca de la misma
      medida)
    %p
      Condicion de la nueva regulación es que haya una
      oferta creciente con precios decrecientes.
    %p
      Los paises asiaticos han logrado despegar a
      partir de la desigualdad del ingreso de su
      sociedad. Conocimiento esta en la sociedad, es la
      nueva fuerza productiva, margina a gran parte de
      la sociedad, en lugar de excluir a la gran masa de
      la población como sucede en latinoamerica se trata
      de incorporarlas al proceso, constituyen la
      base. Incremento en la capacidad de consumo en la
      sociedad. incorporado a partir de condiciones
      desfavorables.
  %li.res
    %a{:name => "res5"}
    .datos-aut
      %span.autor luciaosunawendehake
      %span.fecha
        14 de junio,
        2009
    .tit-res
      Reseña 3ra. Videoconferencia
      "Economía y Sociedad del Conocimiento" Ponente:
      Dr. Sergio Ordóñez 28 Mayo 2009.
    %p Un cordial saludo a Todos/as desde Venezuela.
    %p
      Antes de colocar mi reseña relacionada con el
      tema de la tercera Videoconferencia, les comento
      que asistí a la misma en línea aunado al IRC, pero
      lamentablemente no pude estar hasta el final,
      debido a que nos dejaron ( en mi ciudad) sin
      servicio eléctrico casi por cuatro horas ese día,
      por esa razón, no pude estar hasta el cierre o
      culminación. Hoy 14 de junio volví a ver la
      videoconferencia de manera de terminar de observar
      lo que me quedó pendiente, de manera de poder
      realizar mi reseña, la cual presento a
      continuación:
    %p
      Partiendo del título de la misma: "Economía y
      Sociedad del Conocimiento" desde una breve
      explicación y ubicación, el ponente de la
      videoconferencia el Doctor Sergio Ordóñez, aclaró
      que hablaría de la nueva clase del Desarrollo y
      Capitalismo del Conocimiento.
    %p
      Los avances tecnológicos han influido muy
      directamente en la Economía que ya los conceptos,
      tanto de esta última como de la Sociedad del
      Conocimiento, son utilizados por muchas personas
      en diversos campos, sin embargo, todavía hay
      diferencias de cómo lo entienden unos y otros.
    %p
      El Dr. Ordóñez, nos pasea por variados aspectos
      relacionados todos con esa revolución de la
      sociedad del conocimiento y la Economía y para un
      mejor entendimiento, nos ofrece variadas muestras
      como son: las Patentes, el Toyotismo, las nuevas
      formas de producción de la Economía Asiática y
      Escandinava, el Neoliberalismo, entre otras, todas
      nos reflejan la nueva forma de ver como ha ido
      cambiando históricamente la Economía, a medida que
      se va avanzando en la apropiación del
      conocimiento.
    %p
      Hace mucho hincapié en como el sector Electrónico
      e Informático, se convierte en el nuevo eje
      articulador del crecimiento económico y
      mundial.
    %p
      Ha sido muy interesante el tema propuesto en la
      videoconferencia, muy enriquecedor, y a la vez
      bastante realista, ya que está muy en lo cierto
      cuando nos ubica en que hablamos de una Sociedad
      del Conocimiento que se puede considerar
      inexistente, ya que aún no se ha construido un
      edificio social articulado a las tecnologías y la
      sociedad y la posibilidad de que las mismas puedan
      llegar y estar al alcance de todos y que con ello
      pudiera ayudar a la apropiación del
      conocimiento.
    %p
      Al concluir la Videoconferencia se dió la sesión
      de variadas preguntas, relacionadas con algunos
      aspectos de la misma, las cuales fueron
      respondidas por el ponente.
    %p
      Me ha parecido como dije anteriormente una
      enriquecedora videoconferencia, reflexionando
      sobre la misma sobre todo en lo que a conocimiento
      se refiere, podría concluir, expresando que una de
      las características de la sociedad actual, la cual
      es uno de sus más valiosos principios es el
      Conocimiento.
    %p
      El valor de la sociedad actual está relacionado
      muy directamente con el Conocimiento, con la
      formación que posean sus ciudadanos y con la
      capacidad de innovar que desarrollen y pongan en
      práctica.
    %p Sin más que agregar,
    %p Seguimos en contacto,
    %p Saludos cordiales,
    %p Lucía Osuna
  %li.res
    %a{:name => "res6"}
    .datos-aut
      %span.autor edzam
      %span.fecha 6 de junio, 2009
    %p
      Sergio Ordóñez nos presentó su tema
      %em
        Economía
        y Sociedad del Conocimiento
    %p
      Durante la tercera conferencia del Seminario de
      economía y sociedad del conocimiento, se abordan
      por el invitado 4 puntos principales:
    %ol
      %li
        Los conceptos de economía y sociedad del conocimiento
      %li
        La nueva fase de desarrollo y capitalismo del
        conocimiento
      %li
        La inexistente sociedad del conocimiento
      %li
        Hacia una nueva sociedad del conocimiento
        inclusiva y participativa.
    %p
      En lo que se refiere a los conceptos, estos
      tienen múltiples acepciones de acuerdo al campo
      disciplinario en que se aborden y en relación a
      las perspectivas y corrientes de pensamiento que
      los entienden. En principio la economía del
      conocimiento, se define como la emergencia de la
      producción social en un sentido amplio basada en
      procesos intensivos de conocimiento; este es un
      fenómeno que se ha dado desde hace varias décadas,
      sin embargo, este proceso ha sufrido un cambio de
      calidad desde los años 80's, este fenómeno se ha
      dado bajo una forma histórica conceptualizada como
      "capitalismo del conocimiento", es decir economía
      del conocimiento es un concepto más amplia que
      incluye al capitalismo del conocimiento
      (actividades del conocimiento que no generan valor
      y las que si lo generan). El capitalismo del
      conocimiento es la forma histórica en la que
      existe la economía del conocimiento.
    %p
      Otra parte, la economía del conocimiento, tiene
      viabilidad histórica mediante la construcción de
      un edificio social de conocimientos cuyos
      cimientos se integrarían a partir de la ideología
      dominante, los cambios tecnológicos, la cultura
      como forma de vida y las instituciones.
    %p
      El capitalismo del conocimiento, origina que
      muchos países se incorporen en la participación
      para la generación del conocimiento para la
      producción, se da un salto de calidad en la
      producción del conocimiento que se acentúa en los
      años noventa; esta fase de desarrollo, muestra la
      constitución del conocimiento como principal
      fuerza productiva. Esta ase de desarrollo
      sustituye a la fase "fordista" como fase de
      desarrollo capitalista.
    %p
      En este sentido existe una fase de articulación
      entre la generación del conocimiento y el sector
      productivo, es decir, el sector científico
      educativo (investigación, educación, ) y el ámbito
      de la economía productiva dan emergencia a nuevas
      organizaciones conocidas como "comunidades del
      conocimiento" (construcción colaborativa del
      conocimiento) que pugnan por posicionarse en el
      desarrollo global.
    %p
      En la nueva articulación descrita, el software
      tiene un papel fundamental como intermediario o
      mediador para la producción; esta base tecnológica
      da origen al "toyotismo" en donde se incorpora a
      los trabajadores como parte importante del proceso
      productivo tanto en actividades industriales como
      de servicio. En esta nueva configuración el sector
      informático se constituye como un elemento
      fundamental para la expansión económica articulada
      por este sector, se configura una nueva dinámica
      industrial y de servicios a nivel mundial. La
      implicación de este sector como eje articulador
      determina una relación más estrecha entre las
      actividades productivas.
    %p
      Dicho lo anterior, el software reconfigura las
      principales formas de producción, el sector
      electrónico informático empuja y dinamiza las
      actividades productivas y de servicios en un nuevo
      ciclo industrial en donde la oferta dinamiza a la
      demanda en una nueva forma de regulación de los
      ciclos industriales (precios decrecientes).
    %p
      Se habla de una sociedad del conocimiento
      inexistente, porque lo que hasta ahora se ha
      desarrollado, no ha surgido el edificio social
      articulado arriba referido, la economía global
      enfrenta una nueva etapa que enfrenta dos nuevas
      vías para el desarrollo (asiática y escandinava)
      formas institucionales que son capaces de explotar
      las oportunidades de los cambios científicos y
      tecnológicos de hoy. Los países asiáticos como
      economías emergentes como desde el siglo pasado
      los ha llevado a acortar distancias en relación a
      los países desarrollados. Ejemplo de estos son la
      India y China que tiene en común una fuerte
      participación del Estado como regulador del
      desarrollo económico y financiero, su intervención
      no se limita a los preceptos del mercado sino a
      desarrollar estrategias propias que los favorece
      en la inserción del mercado internacional pero
      bajo un régimen coercitivo a diferencia de los
      países escandinavos.
    %p
      Al final en la retroalimentación, se hacen
      preguntas sobre el conocimiento y la información,
      concluyendo que en la forma productiva actual nos
      tenemos que referir a la economía conocimiento y
      no a la economía de la información.La nueva base
      tecnológica fomenta el crecimiento de la
      productividad, la apropiación de los frutos de la
      nueva tecnología dependerá del nivel de desarrollo
      educativo y cultural de los países insertos en el
      mercado global.
  %li.res
    %a{:name => "res7"}
    .datos-aut
      %span.autor uribelf
      %span.fecha
        8 de julio,
        2009
    %p
      El DR Sergio Ordoñez nos habla de la Economía
      del Conocimiento y las diferencias entre lo que es
      también Sociedad del Conocimiento. En su punto
      Capitalismo del Conocimiento, pienso que es una
      globalización donde la economía va transformándose
      de acuerdo a unos indicadores, como é lo expone,
      de las patentes en los Estados Unidos y también de
      los procesos tecnológicos que en gran medida
      permiten una construcción dinámica de lo que es la
      economía del conocimiento.
    %p
      La fase de desarrollo del capitalismo del
      conocimiento se da a partir de la crisis dada en
      los años 80, donde las soluciones se vislumbran a
      partir de una integración de la parte científica
      con la educación para lograr producciones tanto en
      procesos educativos como en procesos que tienen
      que ver con la economía, como es el desarrollo de
      la instituciones educativas, de organizaciones que
      tienen que ver con procesos de producción de
      conocimiento.
    %p
      Interesante la disertación y da aportes para
      tener una clarificación de conceptos que aportan
      para un mejor entendimiento en o que tiene que ver
      con el desarrollo de los procesos científicos y
      educativos en la economía.
  %li.res
    %a{:name => "res8"}
    .datos-aut
      %span.autor rosamapadilla
      %span.fecha
        12 de agosto,
        2009
    %p
      La propuesta del Dr. Sergio Ordoñez en su
      participación en este foro me parece muy novedosa
      y acertada, nunca la sociedad había estado tan
      dependiente de los proceso económicos para su
      educación y desarrollo cultural. Si la economía
      esta mal la educación esta peor. Los
      conceptos:"economía y sociedad del
      conocimiento","Desarrollo y capilatalismo del
      conocimiento y globalización del conocimiento y la
      "nueva sociedad inclusiva y participativa" nos
      centran en la nueva manera de ver a la sociedad y
      su relación con el conocimiento desde una
      perpectiva "macroeconómica globalizada" basada en
      el desarrollo tecnológico electrónico y entre
      ellos el más influyente el desarrollo del "sofwer
      libre"y su aplicación en la educación democrática
      y universal.
  %li.res
    %a{:name => "res9"}
    .datos-aut
      %span.autor myanethernandez
      %span.fecha
        8 de julio,
        2009
    %p Buen día
    %p
      Me parece muy acertada las apreciaciones que hace
      el Dr. Sergio Ordoñez en la parte de la
      contrucción de una Economía y Sociedad del
      Conocimiento. Veo claramente las diferencia entre
      lo que es la economía y la sociedad. La parte de
      la economía se interpreta como una forma macro de
      procesos que intervienen en la transformación de
      una mejora para la sociedad. Es correcto y muy
      válida la apreciación cuando dice que la parte de
      software y el desarrollo tecnologico electrónico
      son los pilares que mueven hoy día los procesos de
      desarrollo, que hacen aportes a las sociedades y
      organizaciones, entendiéndose también, como la
      articulación de la parte educativa con la parte
      científica.
    %p
      Me parece que la globalización y los cambios que
      se dan hoy día, obedecen al capitalismo de una
      sociedad que enfrenta grandes retos de
      actualizaciones y modernización, donde
      indudablemente los procesos tecnológicos son de
      gran importancia para el desarrollo científico y
      acedémico.
