%ul.resenas
  %li.res
    %a{:name => "res1"}
    .datos-aut
      %span.autor Beatriz Ramírez
      %span.fecha 1 de marzo, 2009
    %p
      Esta primer presentaci&oacute;n, ha sido no solo
      el incio de las actividades p&uacute;blicas sino
      que sus expositores, Gunnar Wolf y Alejandro
      Miranda, han hecho gala en el desarro de manera
      conjunta, dando muestra del esp&iacute;ritu de
      colaboraci&oacute;n e iniciativa del
      seminario. Asimismo, -de modo sincr&oacute;nico-
      en el chat del seminario EDUSOL, algunos
      participantes iban realizando comentarios acerca
      de los avatares o inquietudes surgidas de la
      presentaci&oacute;n. Algunas de esas reflexiones
      fueron empleados o respondidas por los exponentes,
      antes de finalizar la disertaci&oacute;n.
    %p Formaron parte de la citada presentaci&oacute;n dos temas:
    %ul
      %li
        Presentaci&oacute;n del Seminario en el
        Encuentro EDUSOL 2008
      %li
        Software Libre y Construcci&oacute;n
        Democr&aacute;tica de la Sociedad
    %p
      En lo que refiere a la presentaci&oacute;n del
      Seminario, lo primero fue reflexionar acerca de la
      iniciativa de crear &quot;EDUSOL&quot;, un espacio
      en l&iacute;nea, internacional, interactivo, desde
      y hacia la Educaci&oacute;n con Software Libre. Es
      decir, propiciar el surgimiento de una comunidad
      de gente interesada en educaci&oacute;n, en
      software libre, en la creaci&oacute;n de
      contenidos y en la elaboraci&oacute;n del
      conocimiento de la humanidad, lo cual no es
      poco. Otros de los puntos aclarados fue el de la
      idea de una comunidad integrada por personas
      geogr&aacute;ficamente dispersas, provenientes de
      distintas disciplinas. Escribiendo para un solo
      producto e interesadas no obstante, en un eje
      central &quot;La Cultura
      Libre&quot;. Inmediatamente mencionaron a los
      futuros expositores de acuerdo con las
      caracter&iacute;sticas citadas. Aclarada la
      intenci&oacute;n de recopilar de los distintos
      autores y crear un producto colectivo, una obra
      libre, escrita individual y separadamente desde
      distintas posturas acad&eacute;micas sin embargo,
      perteneciendo a un di&aacute;logo y un mismo eje
      conductor.
    %p
      Se procedi&oacute; luego a explicar los
      cr&eacute;ditos y calificaciones para acreditar la
      participaci&oacute;n y colaboraci&oacute;n, de
      todos y cada uno, en el proyecto. Con
      relaci&oacute;n al segundo tema esto es:
      \&quot;Software Libre y Construcci&oacute;n
      Democr&aacute;tica de la Sociedad&quot; se
      plante&oacute; como una vez socializados los
      contenidos, de aquello aprendemos -como
      individuos- con o sin intenci&oacute;n, surge la
      complejidad y la riqueza del pensamiento. Aparecen
      por lo tanto las especialidades, las profesiones,
      las disciplinas, etc. y conceptos como el derecho
      moral y el derecho patrimonial. Se expuso una
      rese&ntilde;a acerca de la aparici&oacute;n de la
      imprenta, el mime&oacute;grafo, la internet y como
      contribuyeron a la posibilidad de expandir el
      conocimiento. Se consider&oacute; organizaciones
      no gubernamentales, creadas sin &aacute;nimo de
      lucro, y el modo en que colaboran con las barreras
      legales acerca de la creatividad con licencias
      totalmente, o en parte, libres como la Creative
      Commons. Tambi&eacute;n se examin&oacute; el
      esfuerzo colaborativo en pos de crear un producto
      libre, gratis y accesible para todos. Proyectos
      que provocan en mi persona no unicamente
      inter&eacute;s, sino tambi&eacute;n
      admiraci&oacute;n, conmoci&oacute;n y
      compromiso.
    %p
      Finalmente se mencionaron algunos
      \&iquest;riesgos? de la tecnolog&iacute;a con
      relaci&oacute;n a posibles fraudes en el voto
      electr&oacute;nico o posibilidad de ser
      v&iacute;ctimas de robo de indentidad, datos,
      informaci&oacute;n, etc. De acuerdo a mi
      experiencia, como ciudadana argentina, no he
      estado libre del robo -perd&oacute;n quise decir
      \&quot;extrav&iacute;o&quot;- de encomiendas
      postales, ni es secreto que en Argentina votan en
      elecciones presidenciales, cantidad de muertos. La
      gente de trabajo no esta libre de severas
      persecusiones fiscales, impositivas, etc. en tanto
      personas traficantes de droga, pederastas,
      pol&iacute;ticos y sindicalistas corruptos gozan
      del ecu&aacute;nime beneficio de la justicia.
    %p
      Por lo tanto, ninguna posibilidad de delicuencia
      \&quot;adicional&quot; si los pueblos disfrutan de
      educaci&oacute;n laica, libre, gratiuta y con
      nivel acad&eacute;mico. Satisfechas sus
      necesidades b&aacute;sicas. Con igualdad de
      oportunidades de modo de conocer sus derechos y
      obligaciones en el contrato social.
    %p
      Considero la posibilidad de participar en la WEB
      2.0 como una valiosa oportunidad para:
    %ul
      %li Educar
      %li
        Desarrollar y
        desarrollarse
      %li Comunicar
      %li
        Denunciar
        injusticias
      %li
        Colaborar con proyectos
        humanitarios.
      %li
        Asentar la realidad de
        que, los Derechos Humanos,
        \&quot;tambi&eacute;n&quot; existen para la gente
        honesta y de trabajo.
  %li.res
    %a{:name => "res2"}
    .datos-aut
      %span.autor manuelmeza
      %span.fecha 21 de marzo, 2009
    %p
      El 26 de febrero dio inicio en seminario de
      construcción colaborativa del conocimiento
      (bautizado después como SECO3) en la cual Gunnar y
      Alejandro, desde el instituto de investigaciones
      económicas, plantearon la forma de trabajo de una
      forma más profunda que en la videoconferencia en
      el marco del EDUSOL 2008.
    %p
      Yo estuve presente en la sede de la FES Iztacala
      desde la cual nos conectamos vía equipo de
      videoconferencia pero por alguna razón el audio
      era bastante deficiente presentando un eco molesto
      que no dejaba escuchar lo que los ponentes querían
      comunicar.
    %p
      Se explicó la forma de trabajo, el rol de los
      pares-autores, quienes escribirán sus capítulos
      directamente en el sitio del seminario además de
      presentar su tema y avances en una
      videoconferencia, y el rol de los
      pares-participantes quienes enviarán reseñas de
      las videoconferencias a mas tardar dos semanas
      después de que se hayan llevado a cabo y deberán
      plasmar comentarios en los avances que cada tres
      meses mostrarán los autores respecto a su
      trabajo.
    %p
      A la par se mantuvo una conversación en el canal
      de IRC y se envió la conferencia por medio del
      flujo OGG como se ha hecho en el EDUSOL, se
      plantearon preguntas interesantes tanto en el IRC
      como en las diferente sedes, en especial de
      personas interesadas en incluirse en el mundo del
      software libre.
    %p
      Esperamos que la comunidad se muestre más
      participativa y que en la siguiente
      videoconferencia podamos esclarecer las dudas.
  %li.res
    %a{:name => "res3"}
    .datos-aut
      %span.autor edzam
      %span.fecha 12 de marzo, 2009
    %p
      En la sesión de videoconfencia del pasado 26 de
      febrero, gwolf y pooka comenzaron con la
      explicación sobre los propósitos del seminario y
      como es que este surge a partir de las
      experiencias anteriores, en especifico como una
      propuesta desde el Encuentro Edusol
      2008. Realizando retrospectiva a este respecto, se
      hizo alusión a los productos que se esperan
      generar a partir de la colaboración y el trabajo
      tanto de ponentes como de participantes en el
      seminario. Asimismo, se explicó de forma general
      las lineas o propuestas temáticas que se abordarán
      a lo largo del mismo seminario; se hizó énfasis en
      participar de forma activa no solamente con
      entrega de reseñas, sino tambien con comentarios
      constructivos y plurales en torno a cada
      temática. Por último, se expusieron los criterios
      y condiciones para la obtención de la
      certificación para quienes asi decidan
      obtenerla.
    %p
      En la parte final de la sesión de VC, se debatió
      y generó un poco de polémica respecto a si existe
      responsabilidad moral al momento de publicar
      contenidos en internet, ya que en ocasiones, los
      autores de los contenidos no difunden su nombre e
      identidad real, por lo que el debate se centro en
      la importancia o no de asumir responsabilidad
      críitica y moral sobre lo que se escribe; por lo
      que al final se concluyó que este realmente era un
      aspecto poco importante al momento de construir el
      conocimiento, ya que ningún conocimiento es
      acabado, por lo tanto todo concepto y contenido
      será cambiante de acuerdo a los cánones y
      perspectivas de los paradigmas hegemónicos del
      momento y contexto tanto histórico y social.
    %p
      Por mi parte pienso que el software libre nos
      provee la oportunidad de generar y renovar el
      conocimiento de forma más democrática, plural e
      incluyente, es decir, se crea una nueva cultura
      del conocimiento, en donde lo importante es lo que
      se aprenda y que sirva para la generación de
      nuevos conocimientos y aportes que se integrarán
      al haber de campos especificos del saber
      científico. En razón del acceso de todos los
      sectores de la sociedad a las herramientas y
      tecnologías de la información y por lo tanto al
      consumo y generación del saber, se tendrá la
      posibilidad de crear sociedades del conocimiento
      abiertas a los aportes de distintos sectores de la
      población desde su perspectiva y óptica es decir,
      sociedades del conocimiento pluriculturales.
    %p Saludos
    %p edzam
    %p Edgar Zamora Carrillo.
  %li.res
    %a{:name => "res4"}
    .datos-aut
      %span.autor carolinafranco
      %span.fecha
        13 de marzo,
        2009
    %p
      Alex y Gunnar, retomando y ampliando algunas
      ideas que fueron expuestas en la videoconfencia
      “Software Libre y Construcción Democrática de la
      Sociedad”
    %p
      Me interesó el tema de los movimientos sociales,
      por lo que iniciaré con las definiciones y las
      clasificaciones.
    %p ¿Qué es un movimiento social?
    %p
      Retomando una definición formal: “Un Movimiento
      Social (MMSS) es la agrupación no formal de
      individuos u organizaciones dedicadas a cuestiones
      político/sociales que tiene como finalidad el
      cambio social”, de acuerdo a .
    %p Tipos de movimientos sociales
    %p
      Un cambio social, puede catalogarse de alguna
      manera, de acuerdo a algunos factores como por
      ejemplo, ¿Quiénes cambian?  (todos o individuos
      específicos) y ¿Qué tanto cambia?  (radicalmente o
      limitadamente), tal como se muestra en el
      siguiente esquema:
    %p http://en.wikipedia.org/wiki/File:Types_of_social_movements.svg
    %p
      (una disculpa, pero no pude subir la página y el
      editor no meretoma la referencia)
    %p
      Un movimiento social también puede clasificarse de acuerdo
      a:
    %p Ámbito:
    %p
      Movimiento de Reforma: dedicados a cambiar
      algunas normas (normalmente legales), ejemplo de
      este tipo de movimientos: tratados de uniones para
      incrementar derechos de los trabajadores,
      movimientos ecologistas defendiendo un grupo de
      leyes específicas, movimientos que apoyen la
      introducción de penalizaciones o derechos del
      aborto, entre otros. De acuerdo al gráfico, en
      este movimiento social: cambian todos de forma
      limitada.
    %p
      Movimiento Radical: dedicado a cambiar los
      valores del sistema, implica cambios
      fundamentales, tales como los movimientos de
      reforma. Ejemplo: Movimiento de los derechos
      civiles.
    %p Alcance:
    %p
      Movimiento de grupos: el alcance afecta a grupos
      o sociedades en general.
    %p
      Movimientos individuales: su alcance afecta a
      individuos en específico, ejemplo algunos
      movimientos religiosos.
    %p Métodos de trabajo:
    %p Movimientos pacíficos
    %p Movimientos violentos: movimientos armados
    %p Rango:
    %p Movimiento global
    %p
      Movimiento local: basados en objetivos regionales
      o locales, como por ejemplo la protección de áreas
      naturales específicas
    %p
      Movimientos multi-nivel: movimientos sociales que
      reconocen la complejidad de gobernar en el siglo
      XXI y tratan de tener impacto en lo local,
      regional, nacional e internacional.
    %p ¿Qué tipo de movimiento social es el software libre?
    %p
      Después de haber revisado estas categorizaciones,
      considero que el software libre es un movimiento
      social del tipo:
    %p
      Movimiento de Reforma (de acuerdo al gráfico
      [3]), con alcance tanto grupal como individual,
      que utiliza métodos pacíficos de trabajo y de
      rango global. ¿Porqué un movimiento de reforma y
      no radical?, porque busca cambiar algunas cosas en
      específico que implican limitaciones.
    %p
      Aprovecho también para comentar el sesgo político
      que contiene el artículo de la Wikipedia en
      español [4], que consulté en primera instancia,
      para la definición de “movimiento social”, desistí
      de utilizarlo cuando encontré en la definición
      frases como: “ … los movimientos sociales como
      estructuras de cambio social tienen su origen en
      las crisis de las organizaciones de izquierda y
      del socialismo, tanto socialdemócrata como
      marxistas, principalmente partidos políticos y
      sindicatos.. ”, quiero decir también en defensa de
      la Wikipedia, que el artículo en inglés está
      totalmente diferente, con definiciones
      referenciadas, sin sesgos políticos y con la
      neutralidad que se espera de una
      enciclopedia. ¿Qué pasa con las aportaciones en
      español?
    %p Referencias:
    %ol
      %li http://en.wikipedia.org/wiki/Social_movements
      %li http://en.wikipedia.org/wiki/Free_software_movement
      %li
        Aberle, David F. 1966. The Peyote Religion among the
        Navaho. Chicago: Aldine. ISBN 0806123826
      %li http://es.wikipedia.org/wiki/Movimiento_social
  %li.res
    %a{:name => "res5"}
    .datos-aut
      %span.autor luciaosunawendehake
      %span.fecha 8 de marzo, 2009
    %p
      En la primera Videoconferencia que lleva por
      título: "Software Libre y la Construcción
      Democrática de la Sociedad", cuyos ponentes han
      sido Gwolf y Pooka, se ha presentado en primer
      lugar un repaso de lo que se expuso en Edusol 2008
      sobre el Seminario que se inicia con esta primera
      videoconferencia.
    %p
      Ahora bien, me ha parecido realmente interesante
      el tema tratado en la Videoconferencia. considero
      que en el mismo los autores han tratado de ubicar
      de una forma muy enriquecedora como ha
      evolucionado el movimiento de compartir el
      conocimiento desde el punto de vista ideológico
      más que técnico y como se ha ido socializando el
      mismo hasta nuestros días.
    %p
      Han surgido muchas maneras de comunicar el
      conocimiento y compartirlo, después que apareció
      Internet, lo cual ha sido una revolución, luego de
      ello viene el paso de la Web donde el usuario
      solamente puede recibir información y saturarse
      muchas veces de la misma, a la web donde el
      usuario forma parte de ella ya que puede hacer uso
      de la misma e interactuar, lo que lo va llevando a
      una construcción y a un compartir información que
      puede llegar a generar conocimiento, todo esto es
      posible, porque se puede leer el código fuente ya
      que está abierto y puede ser modificado.
    %p
      Sin embargo, la forma abierta de poder modificar
      el código fuente tiene sus ventajas y desventajas,
      a través del mismo se consigue poder realizar
      mejoras sustanciales que pueden nutrir una
      información, como también se puede deformar la
      misma al no añadirle modificaciones
      sustentadas. Un ejemplo de ello ocurre en
      Wikipedia, motivo de interacción en el IRC de la
      Videoconferencia sobre todo por el uso de los de
      apodos o nick, que aunque respeto el uso de los
      mismos, a veces se prestan para restarle
      formalidad y seriedad al trabajo educativo en la
      web y muchos usuarios hacen uso indebido de los
      mismos ya que pueden esconder con ellos su
      identidad.
    %p
      Otra desventaja sería el usuario copia y pega que
      no respeta la autoría de otros y se limita a
      copiar y pegar, es por esa razón que nace el
      creative comon, licencia que aún no he utilizado,
      pero que he visto que están utilizando muchos
      usuarios en la Web y que garantiza en cierta forma
      la protección de autoría y que obliga de alguna
      manera a que los contenidos sean utilizados sin
      fines de lucro.
    %p
      En general considero que la primera
      videoconferencia dejó claro varios puntos sobre el
      seminario, sobre los temas que van a ser tratados
      en las próximas videoconferencias y sus
      autores. Además en relación al tema tratado en la
      misma nos ubico en el software libre y la
      construcción Democrática de la sociedad, ya que
      como dice unos de los autores:"...se ha
      transmitido el poder a los usuarios, lo cual ha
      contribuído en la democratización de la
      sociedad"
    %p
      Les coloco una imagen que ya había dejado la
      semana pasada en una de las intervenciones que
      hice, la misma ubica el seminario y los variados
      temas que lo van a nutrir.
      http://www.luciaosuna.com/imagenseminarioedusol/seminario.GIF
    %p Seguimos en contacto,
    %p Saludos cordiales,
    %p Lucía Osuna
  %li.res
    %a{:name => "res6"}
    .datos-aut
      %span.autor grrodriguez
      %span.fecha 11 de marzo, 2009
    %p
      Hola soy Germania Rodriguez Morales de la
      Universidad Técnica Particular de Loja, trabajo en
      el Cittes (Centro de Investigación Transferencia
      de Tecnología Extensión y Servicios), Gestión del
      Conocimiento de allí mi interés en el Seminario;
      estoy cursando el doctorado de "Tecnologías
      Avanzadas de Software, sistemas inteligentes y
      ambientes distribuidos" con la Politécnica de
      Madrid UPM... Somos varios participantes de la
      UTPL lamentablemente no pudimos conectarnos en
      línea a la Videoconferencia pero he podido
      descargar el Video y saber de que va el Seminario
      la temática los objetivos, la metodología; me
      parece interesante la propuesta inicialmente mi
      participación seria como participante valga la
      redundancia, aunque conversaré con mis colegas
      para evaluar la posibilidad de participar como
      Universidad PAR No soy experta en Software Libre
      aunque manejo algunas herramientas como Linux,
      DRUPAL; los temas que si estoy metida y tengo
      cierto expertice es en temas de Conocimiento y
      Educación, por tanto los temas relacionados con
      estos temas.
  %li.res
    %a{:name => "res7"}/
    .datos-aut
      %span.autor uribelf
      %span.fecha 2 de abril, 2009
    %p
      En esta primera videocienferencia los autores
      hacen una exposición de algunos tópicos que creo
      son muy importantes para el desarrollo del
      conocimiento a través de aprendizajes. En
      referencia a esto, creo que el uso de
      licenciamiento gratis es una buena opirtunidad
      para desarrollos tecnológicos involucrando el uso
      de programas fuentes que pueden ser modificados y
      accesado con uso libre. En mi opinión el hecho que
      sean licencias gratis, no quiere decir que se vaya
      a caer en el proceso de degeneración de programas
      fuentes y códificaciónes malignas.
    %p
      Respecto a otro tópico desde el punto de vista
      educativo, pienso que la tecnología a veces se
      interpreta mal. El uso de herramientas (como es el
      copy - page) que permiten automatizar funciones,
      no quiere decir que se vaya a tomar como
      detrimento de procesos degenerativos que permitan
      incurrir en el facilismo y oportunismo de
      estudiantes a la hora de realización o desarrollo
      de sus actividades.
    %p
      Importante la videoconferencia y deja
      experiencias para retomar y reflexionar acerca de
      los tópicos mencionados anteriormente.
  %li.res
    %a{:name => "res8"}/
    .datos-aut
      %span.autor Carlos
      %span.fecha 7 de abril, 2009
    %p
      Lamentablemente, no estuve el día mismo de la
      videoconferencia, pero gracias al equipo
      organizador por subirlo a la Web, he podido
      descargar el Video y saber del Seminario la
      temática sus objetivos, la metodología; me parece
      interesante la propuesta, la de mantener a una
      comunidad en comunicación constante en este
      seminario 2009, como un grupo de expertos y
      abordar el tema del conocimiento Educación y
      Software libre, en la generación de conocimientos
      en forma colaborativa, solicitando para ello el
      intercambio de experiencias de participantes de
      todas las especialidades, eso es bueno,
      convertidos en expertos; reuniendo a través de
      Internet el esfuerzo de todos.
    %p
      Se mencionó, así mismo, que el producto de todo
      este proceso sería la producción de un libro donde
      figure el aporte sistematizado. Me parece una
      excelente idea, pues se expondría al mundo "La
      construcción colaborativa del conocimiento,
      educación y software libre"
    %p
      Creo que, es la oportunidad que permite la
      construcción de conocimientos significativos,
      compartidos, que sin duda es el eje de todo
      aprendizaje, que definitivamente enriquecerá el
      conocimiento.
    %p Saludos
    %p Carlos Azañero
  %li.res
    %a{:name => "res9"}/
    .datos-aut
      %span.autor rosamapadilla
      %span.fecha 12 de agosto, 2009
    %p
      La conferencia nos proporcionó elementos de
      reflexión sobre temas bàsicos de la tracendencia
      del softwer y la llamada "sociedad del
      conocimiento" en su manifestación más
      eminentemente social la "democracia". La sociedad
      y su reclamo de accesar al conocimiento libre,
      democrático y gratuito se le puede adicionar el
      concepto de "universal" y el softwer libre es una
      aliado indiscutible, pero los aspectos
      "confiabilidad", "privasidad" y "anonimáto" son
      puntos muy sencibles con los que se tiene que
      trabajar sobre todo en nuestro países.
    %p Atte.
    %p Rosa María Padilla
  %li.res
    %a{:name => "res10"}/
    .datos-aut
      %span.autor psilab
      %span.fecha 14 de marzo, 2009
    %p
      La importancia del seminario de construcción
      colaborativa del conocimiento radica en que no
      solo se aprovecha el aspecto práctico de la
      tecnología para “difundir ideas” si no que más
      bien se diseña una estrategia psicopedagógica para
      organizar los esfuerzos de un colectivo de
      personas interesadas por temas comunes al
      compartir ideas, interactuar y recibir
      retroalimentación pero con el único objetivo de
      construir conocimiento.
    %p
      Muchas personas hemos sido testigos de la
      “verticalidad” en la educación tradicional en
      donde podemos observar comunidades en donde se
      trata el conocimiento de forma elitista puesto que
      no se puede acceder a él si no a través de la mera
      recepción de información del experto al aprendiz,
      limitando tanto la libertad propositiva como la
      capacidad creativa e innovadora del individuo y
      también la del grupo. En este sentido la toma de
      decisiones respecto a los contenidos que ahí se
      desarrollan se pone en manos de “aquellos con
      conocimientos avanzados y altamente
      especializados” que muchas veces no son sensibles
      a los intereses y necesidades colectivas, aquellas
      de quienes desean aprender pero que no tienen
      influencia alguna en la comunidad por no
      encontrarse al “mismo nivel” o peor aún por no
      encontrarse dentro del mismo campo del
      conocimiento. Por lo anterior también considero de
      gran trascendencia que en SECO3 se pueda tratar el
      mismo tópico desde perspectivas provenientes de
      personas pertenecientes a diversos ámbitos del
      conocimiento. Con esta multidisciplenariedad se
      logra una concepción más íntegra y enriquecida del
      tema en cuestión.
    %p
      En primera instancia se nos presenta una
      cronología acerca de algunos cánones que ha tenido
      la humanidad en cuanto al acto de crear y
      compartir conocimiento en diferentes periodos
      históricos y cual ha sido su impacto en el
      desarrollo de la sociedad. Estos acontecimientos
      serán profundamente revolucionados con la
      aparición de la tecnología para medios impresos
      (imprenta) de la que surgen ciertos derechos cuyo
      objetivo ha sido “regular la difusión y el
      comercio de la información” enfatizados de forma
      drástica en el capitalismo.
    %p
      El siguiente momento que reconceptualiza la
      compartición y la generación de conocimiento es el
      surgimiento de Internet, que en principio era
      caótica y desorganizada y poca gente tenía acceso
      a ella, además de que la única posibilidad que le
      ofrecía a los usuarios era “la consulta de
      información”. Sin embargo en la actualidad no sólo
      muchísimas más personas tienen acceso a la red si
      no que además de que les ofrece la clásica
      posibilidad de expectación también la de
      interacción a través de la creación y la
      compartición de contenidos. Reitero que aunque es
      evidente que con la llegada de Internet el acceso
      a la información es mucho más sencillo creo que se
      debe poner especial atención a la frontera que aun
      ahora hace que la gente únicamente sea espectadora
      de lo que ocurre dentro de una comunidad que
      produce conocimiento, más bien creo que para la
      expansión y el crecimiento de la comunidad se
      deben ofrecer otras posibilidades de interacción e
      involucramiento que les permita a las personas que
      no están “digitalmente alfabetizadas”
      identificarse con los intereses colectivos y
      desarrollar conocimientos y habilidades
      intelectuales dentro de la comunidad misma, ahí es
      donde creo que se promueve también el concepto de
      democracia.
    %p
      Además se han originado filosofías progresistas
      que promueven la libertad y el derecho que tienen
      las personas de saber-conocer y compartir sin que
      existan intereses económicos ni restricciones
      legales de por medio, con la única condición de
      que se les haga del debido
      reconocimiento.
  %li.res
    %a{:name => "res11"}/
    .datos-aut
      %span.autor academico
      %span.fecha
        26 de febrero,
        2009
    %p
      Me gustaría que se hable también del uso del
      BLOG, del WIKI y de todas las herramientas de la
      Web 2.0.Yo, por ejemplo, para completar mis clases
      presenciales utlizo mucho mis blogs docentes y dos
      Wikis, uno general y otro muy especializado
      dedicado a enseñar estadística descriptiva y
      evaluativa o inferencial. Y como soy un
      especialista en evaluación de proyectos de
      inversión ( mi asignatura es Evaluación de
      Proyectos ) entonces hago tutoría con un blog
      sobre el asunto, o sea que estoy usando mi Wiki
      preferido:
      %a{:href => "http://e-askain2007.pbwiki.com/"} http://e-askain2007.pbwiki.com/
      y mi Blog
      preferido:
      %a{:href => "http://alfredoascanio.blogspot.com/"} http://alfredoascanio.blogspot.com/
    %p
      Saludos y los felicito por este seminario que
      complementa el anterior.
  %li.res
    %a{:name => "res12"}/
    .datos-aut
      %span.autor leoyamasaki
      %span.fecha 13 de marzo, 2009
    .tit-res
      Conocimiento, ciencia,
      tecnología y sopa para el perico
    %p
      Mas que una reseña sobre lo expuesto por Gunnar
      Wolf (gwolf) y Alex Miranda (pooka), me gustaría
      hacer algunos comentarios y observaciones sobre
      algunos de los temas que trataron. Escribiré esto
      en un estilo que pretendo sea sencillo e informal,
      por lo que si no soy exhaustivo pido disculpas por
      anticipado.
    %p
      El Conocimiento, así con letra mayúscula, es un
      concepto bastante amplio y general. Cabe la idea
      de que para entender bien algo hay que proceder
      como hacia Jack "El destripador": vamos por
      partes. No me suelen gustar las definiciones de
      diccionario, pero son un buen punto por donde
      empezar. Según el diccionario de la Real Academia
      Española (que no Castellana), mejor conocida en
      Internet como la RAE, conocimiento es la acción o
      efecto de conocer, el entendimiento, inteligencia
      o razón natural, y en su plural (conocimientos) es
      saber o sabiduría, (bueno y muchas cosas mas que
      no van al caso). Pues bien, esto no nos dice nada
      del concepto a tratar. Vamos a otro diccionario,
      el Oxford English Dictionary, en el cual buscamos
      la palabra equivalente al inglés: Knowledge. Aquí
      obtenemos que conocimiento son (1) los hechos,
      información y habilidades (expertise) adquiridas
      por una persona por medio de la experiencia o la
      educación, (2) Lo que se conoce de un tema (3)
      conciencia o familiaridad lograda por la
      experiencia de un hecho o situación. En fin, los
      diccionarios, no son una buena fuente para que
      entender definiciones de conceptos. El caso es que
      la definición de conocimiento es todo un debate
      filosófico que tiene de cabeza a los que se
      dedican a la epistemología. Pues bien, la
      epistemología (pido perdón por escribir
      palabrotas) se dedica a estudiar el conocimiento
      de tipo proposicional, en palabras simples el
      conocer-qué, o como lo llamaría yo, el
      conocimiento de causas y efectos, a diferencia del
      conocer-cómo o como lo llamaría yo conocimiento
      tecnológico. Creo que es importante hacer
      distinciones cuando se habla de Conocimiento,
      sobre todo cuando hablamos de ciencia y
      tecnología.
    %p
      Pues ¿para qué ese mareo total del párrafo
      anterior? bueno, es necesario distinguir entre
      ciencia y tecnología. Es cierto que antes del
      siglo 17 a la ciencia se le conocía como filosofía
      natural y a la tecnología después como ciencia
      aplicada, estos dos conceptos son bastante
      diferentes. Tanto la ciencia como la tecnología
      generan y validan conocimientos, pero cada una
      tiene diferentes métodos y objetivos. Por un lado
      la ciencia valida y genera conocimientos del tipo
      conocer-qué, por el otro la tecnología genera y
      valida conocimientos del tipo conocer-cómo. Creo
      que es importante no confundir estos dos conceptos
      y hacerlos una sopa de perico, como muchas veces
      veo que se hace. Un ejemplo: cuando se habla de la
      cirugía laparoscópica se dice que es un gran
      avance de la ciencia médica, ¡que falso!  esto es
      un avance de la tecnología médica. Si la
      informática avanzara al ritmo de la ciencia
      medica, aún tendríamos computadoras de 100 MHz,
      con memoria de 1MB y la Internet fuera solo un
      sueño, los médicos todavía siguen usando el
      equivalente a bombas atómicas para matar
      bichos. Es muy común hablar de los grandes avances
      de la ciencia, cuando se refieren en realidad a
      avances de la tecnología, en muchas áreas de ambas
      dos (a la Vicente Fox).
    %p
      Por último, los conocimientos tecnológicos NUNCA
      han sido compartidos por los pueblos, al contrario
      de lo que dijo mi estimado y nunca bien ponderado
      amigo pooka. El uso mas apreciado y utilizado de
      la tecnología ha sido para la guerra y ¿quien en
      su sano juicio quiere darle los secretos de las
      armas al rival? De la tecnología para la guerra
      nos han llegado las cosas que mas apreciamos: La
      Internet (la red DARPA para que se comunicaran los
      que hacían proyectos militares en USA), el WiFi
      (Spread spectrum usado para los tanques en el
      campo de batalla), las computadoras (la ENIAC, la
      EDVAC con la arquitectura von Neumann fueron
      hechas para hacer tablas balísticas para cañones),
      los cohetes espaciales (partieron de las V1 y V2,
      misiles alemanes de la segunda guerra mundial) y
      me canso de dar ejemplos. Lo siento Alex,
      compartir conocimientos tecnológicos no es algo
      natural, mas bien es algo racional, por eso es que
      todo buen hacker o miembro del movimiento de
      conocimientos tecnológicos y científicos libres,
      debe ser alguien que sepa como usar ese kilo y
      medio de material orgánico altamente organizado
      que reposa en el interior de su cabeza.
