%ul.resenas
  %li.res
    %a{:name => "res1"}/
    .datos-aut
      %span.autor Beatriz Ramírez
      %span.fecha 9 de julio, 2009
    %p
      Ha sido un verdadero gusto conocer y compartir,
      de algún modo, la experiencia de Antonio
      Galindo. Un charla absolutamente dinámica impidió
      el cruce de cualquier distracción de mi parte.
    %p
      Huelga en detalles significando con ello el grado
      de compromiso y participación. Muy inspirador.
    %p
      Antonio, programador involucrado en acercar la
      tecnología a comunidades indígenas, compartió su
      experiencia. Explicó la importancia de:
    %blockquote
      %ul
        %li
          Trabajar con software libre dada la
          necesidad de traducir las herramientas, por lo
          tanto adecuarlas.
        %li
          Involucrar y capacitar a la gente, maestros,
          ancianos, jóvenes de la comunidad.
          %br/
        %li
          Implementarlo en escuelas con interés de
          participar.
    %p
      Fueron dos los escenarios como implementación
      esto es:
    %ol
      %li Escuelas con conexión a internet.
      %li Escuelas sin conexión a internet.
    %p
      Luego de la búsqueda de escuelas que puedieran
      estar interesadas, hallaron algunas equipadas con
      computadoras pero sin programas, otras sin
      conexion a internet o sin tendido de red, etc. Se
      instalaron servidores centrales, base de datos,
      servidores http apache para distintas plataformas,
      software libre, etc.
    %p
      Se readecuaron las aulas, se quito el miedo al
      uso de las herramientas, fundado muchas veces en
      los services abusivos de parte de terceros, se
      conversó con los maestros y profesores y se
      compartió filosofía concientizando el uso de las
      computadoras como posibilidad para pensar, crear,
      desarrollar contenido y distribuir el
      conocimiento.
    %p
      Resueltos los inconvenientes, se desarrollo un
      lms para que los niños investiguen acerca de los
      usos y costumbres de la comunidad. Fiestas
      populares, como se vestían, que se comía, que se
      bebia, quienes bebian, etc. Pasando toda esa
      cultura oral a la lengua escrita. El trabajo en
      equipo entre ancianos, jóvenes, maestros y niños
      ayudó en primer lugar, con la construcción y
      traducción de todo el vocabulario tecnológico a la
      lengua de la comunidades indígena. Luego al
      rescate de la cultura oral con posibilidad de
      impresión y distribución. Todo dentro del ámbito
      de la escuela donde se comienza a perder toda esa
      tradición. Un proyecto ambicioso, filantrópico,
      antropológico, arquitectónico, creativo, solidario
      y absolutamente inclusivo.
  %li.res
    %a{:name => "res1"}/
    .datos-aut
      %span.autor rosamapadilla
      %span.fecha 12 de agosto, 2009
    %p
      La participación de conferencista fué muy
      motivante sobre un tema que tal vez no
      considerariamos relacionarlo con el softwer libre,
      pero la ponencia de Antonio Galindo propone un
      cambio de actitud hacia la cultura tradicional de
      los pueblos rescatándola con el uso de las TICs y
      el entusiamo además de responsabilidad de la
      sociedad y los profesionales de los estudios
      sociales. Concidero muy importante el rescate y
      valoración de nuestras costumbres por lo tanto
      concidero el tema propuesto por el conferencista
      importante sobre todo por la aplicación del
      conocimiento en los niños de primaria parsa que no
      se pierda la riqueza de las tradiciones.
  %li.res
    %a{:name => "res1"}/
    .datos-aut
      %span.autor luciaosunawendehake
      %span.fecha 14 de julio, 2009
    .tit-res
      Reseña 4ta. Videoconferencia "Equipos de
      Desarrollo y Traducción de Herramientas para
      Revaloración y Rescate de la Cultura Tradicional"
      25 Junio 2009. Ponente: Antonio Galindo
    %p Un cordial saludo a Todos/as desde Venezuela.
    %p
      Antes de colocar mi reseña relacionada con el
      tema de la cuarta Videoconferencia, les comento
      que asistí a la misma en línea aunado al IRC.
    %p
      El ponente de la videoconferencia Antonio
      Galindo, explica la utilización de las
      herramientas tecnológicas para el rescate de los
      pueblos y sus tradiciones, de manera que las
      nuevas generaciones conozcan la tradición y la
      cultura de sus ancestros.
    %p
      El proyecto se basa en adecuar y adaptar
      herramientas tecnológicas de Software Libre para
      el rescate de la lengua materna y la tradición,
      esas herramientas ayudan a que haya un registro
      histórico, se trabaja con niños de 5to y 6to de
      primaria.
    %p
      La idea de usar el Software libre es muy acertada
      debido a que se puede adaptar, a lo que se quiere
      investigar, se puede adecuar la herramienta a la
      necesidad y se facilita la distribución del
      conocimiento.
    %p
      Para llevar a cabo el proyecto se debió superar
      algunos inconvenientes como, equipos en malas
      condiciones, igualmente las aulas, falta de
      personal capacitado y además enfrentar mejoras
      generales por hacer, como tener comunidades que
      generen sus gráficas y actividades, buena conexión
      entre comunidades con grupos de emigrantes,
      considerar la usabilidad, navegabilidad, detalles
      técnicos, todo esto estaba por hacer.
    %p
      Motivar a las escuelas, el acercamiento a los
      maestros al proyecto y despertar el interés en
      ellos, con la intención de promover e incentivar
      el conocimiento de las tradiciones, enseñar como
      es la forma correcta de utilizar la lengua,
      enseñando la traducción.
    %p
      El proyecto es interesante ya que la herramienta
      se puede utilizar para alfabetizar y como es de
      código abierto se puede adecuar y colocar el
      nombre correcto en la lengua que se quiere
      enseñar.
    %p
      Considero que la videoconferencia ha sido muy
      enriquecedora ya que muestra un proyecto elaborado
      con herramientas de Software libre que puede ser
      un ejemplo para seguir en otras comunidades y con
      ello se estará fomentando el conocimiento de las
      tradiciones y de las diversas culturas, además de
      que puede ser utilizada para promover la
      alfabetización.
    %p
      Al concluir la Videoconferencia se pasó a la
      sesión de variadas preguntas, relacionadas con
      algunos aspectos de la misma, las cuales fueron
      respondidas por el ponente.
    %p Sin más que agregar,
    %p Seguimos en contacto,
    %p Saludos cordiales,
    %p Lucía Osuna
