%ul.resenas
  %li.res
    %a{:name => "res1"}
    .datos-aut
      %span.autor luciaosunawendehake
      %span.fecha
        24 de septiembre,
        2009
    %p
      Reseña de la 5ta Videoconferencia: La
      Construcción Colaborativa del Conocimiento visto
      desde la óptica de las Comunidades del Software
      Libre- 27 de Agosto del 2009. Ponente. Héctor
      Colina- Venezuela.
    %p
      En relación a la videoconferencia del pasado 27
      de Agosto, les comento que comencé primero
      conectándome al IRC y luego a la misma, al
      principio tuve varios inconvenientes para
      escucharla, el audio tenía un volumen bajo y con
      eco, lo cual impedía escuchar con claridad la
      interesante ponencia., el problema del audio era
      manifestado por algunos de los participantes a
      través del IRC, luego el problema fue solucionado
      y entonces pude apreciar la importante
      ponencia.
    %p
      En la misma aparece la palabra "Heterarquía",
      partiendo de que Heterarquía significa que no hay
      delimitación de poderes, es el tipo de relación
      que se da en las redes, en las cuales todos los
      participantes pueden dar sus opiniones, ideas,
      inquietudes, este tipo de relación conlleva a
      fomentar la construcción colaborativa del
      conocimiento.
    %p
      Colina expresó que en la Comunidad del Software
      libre existe una heterarquía, y partiendo del
      concepto y del trabajo que se lleva y como se
      lleva en las comunidades de SL ( redes), es muy
      cierto lo que afirma Colina.
    %p
      Además de la palabra heterarquía también nuestro
      ponente habló del Asamblearismo, conceptos que
      generaron inquietudes y variadas posturas en el
      IRC.
    %p Considero que ha sido una excelente ponencia,
    %p Sin más que agregar...
    %p Seguimos en contacto,
    %p Saludos,
    %p Lucia Osuna
  %li.res
    %a{:name => "res1"}
    .datos-aut
      %span.autor manuelmeza
      %span.fecha
        24 de septiembre,
        2009
    %p
      Construcción del conocimiento en comunidades de software
      libre
    %p Persiguen un fin común
    %p
      Más allá del software es la idea del conocimiento libre, como
      un bien púlico, necesita estar libre y ser discutido
    %p Newton - pararse en hombros de gigantes
    %p Organización tradicional - estructura jerárquica
    %p
      Heterarquía - todos los individuos tienen la misma
      responsabilidad, conocen sus responsabilidades y del que está a su
      lado.
    %p Puede confundirse con tecnocraccia
    %p
      Depende del rol que desempeña de acuerdo con la capacidad del
      individuo
    %p Puede ser reconstruida en base a nuevas modalidades
    %p Sistema de valores
    %p
      Generalmente basado en el valor monetario, entre más
      capacidades mayor retribución económica
    %p En el software libre: Pericia técnica
    %p Sistemas de reconocimiento
    %p Matrices de opinión alrededor de mi persona
    %p Autores y temas:
    %p Bruner, aprendizaje constructivo, comparto lo que sé
    %p Bandura, aprendizaje social o colaborativo
    %p Pappert
    %p Niumhane
  %li.res
    %a{:name => "res1"}
    .datos-aut
      %span.autor gwolf
      %span.fecha
        28 de agosto,
        2009
    %p
      Esta vez —como vieron— me fue imposible
      participar del IRC, aunque por estar de operario y
      por mi inocultable presencia mi nombre salió
      frecuentemente ;-) Bueno, respondo a un par de
      puntos que hacen falta:
    %ul
      %li
        vicm3: Sí, claro, hay varios trabajos
        interesantes de Biella. El que estoy usando por
        aquí es [1], y supongo que tú te refieres a su
        tesis doctoral [2].
      %li
        Yo insisto en que en este grupo —y en muchos
        de los que formo parte— habemos una importante
        proporción que aprendimos de una manera informal
        (por ponerle una etiqueta a la formación
        profesional no universitaria) o en ámbitos
        distintos al que nos desenvolvemos. Muchas
        veces, antes de desarrollar el interés por
        entender socialmente a este fenómeno, recuerdo
        haber mencionado que me sorprendía la proporción
        de gente "criada" en otras disciplinas
        trabajando en el desarrollo (y no sólo uso) de
        Software Libre. Sobran ejemplos, incluso, en
        este mismo grupo!
      %li
        Txopi: No estoy tan de acuerdo con el
        asamblearismo. En Debian, como mencioné en la
        sesión, trabajamos con una lógica básicamente de
        asamblea, pero sabemos que toda decisión por
        votación es inferior a una decisión por consenso
        de las partes directamente involucradas,
        interesadas y, muy importante, informadas sobre
        un tema en cuestión, por lo cual hay todo un
        proceso para llegar a plantear una Resolución
        General (votación abierta a todos los miembros
        del proyecto). Y claro, las GRs están acotadas a
        nunca decidir temas técnicos, que sí o sí deben
        ser resueltas por argumentos técnicos entre las
        partes — Y en caso de ser necesario, arbitradas
        por el Comité Técnico, una especie de comité de
        notables. Que, dicho sea de paso, prácticamente
        nunca es invocado ;-)
      %li
        Una de las principales debilidades de las
        asambleas —aquí estoy seguro de que Pooka y
        Vicm3 serán testigos de lo que digo— es el poder
        del tedio. Cuando en una asamblea un grupo se
        pone duro a insistir en sus puntos, aplicando el
        principio de el que desespera gana, es común que
        éste grupo a fuerza de insistencia vaya
        alienando al resto de los asambleístas hasta
        imponer sus puntos de vista. El ejemplo al que
        me refiero: En 1999-2000 hubo una larguísima
        huelga (10 meses) en la UNAM, la Universidad más
        importante de México. ¿A qué llevó? El grupo que
        impulsaba la huelga (del cual Víctor fue parte
        por varios meses — Yo estaba recién contratado
        como parte de la Siempre Malévola Administración
        ;-) ) comenzó siendo muy incluyente y
        democrático. Pero realmente fue mutando en
        grupos de choque ideológico. Hacia el final de
        la huelga, había dos grupos principales: Los
        Ultras y La Megaultra. En la UNAM se convirtió
        en insulto que te dijeran Moderado. Y… Lo que
        comenzó siendo un bonito y muy democrático
        movimiento se desgastó a niveles de
        comedia.
      %li Y... Ya, creo que eso es todo!
    %p
      [1] The Political Agnosticism of Free and Open
      Source Software and the Inadvertent Politics of
      Contrast, Coleman, Gabriella , Anthropological
      Quarterly, Volume 77, Number 3, p.507-519,
      (2004)
      %br>/
      [2] The Social Construction of Freedom
      in Free and Open Source Software: Hackers, Ethics,
      and the Liberal Tradition, Coleman, Gabriella ,
      Department of Anthropology, 08/2005, Volume
      Ph. D., Chicago, (2005)
  %li.res
    %a{:name => "res1"}
    .datos-aut
      %span.autor txopi
      %span.fecha
        29 de agosto,
        2009
    %p
      Gwolf, comprendo muy bien lo que dices puesto que
      conozco a más gente que opina cosas similares tras
      una mala experiencia al entrar en contacto con el
      asamblearismo. Lo único que te puedo decir es que
      trabajar de forma asamblearia requiere un
      aprenedizaje que en la sociedad que tú y yo
      vivimos es difícil de obtener. Existen infinidad
      de comunidades indígenas, colectivos activistas y
      grupos de afinidad que funcionan de forma
      asamblearia satisfactoriamente. Suelen ser grupos
      pequeños (no más de 20 personas) que a veces se
      coordinan con otros grupos creando un ecosistema
      que emerge de forma no planificada.
    %p
      Creo que lo mejor forma (¿la única forma?) de
      comprender el potencial del asamblearismo es
      uniéndose a una asamblea que ya funcione y
      aprender allí la verdadera actitud asamblearias y
      las técnicas y roles más comunes (decisiones por
      consenso, tormenta de ideas, etc.). Creo que la
      peor forma de acercarse al asamblearismo (aunque
      probablemente sea la más frecuente) es juntar a un
      montón de gente que no se conoce y sin ni siquiera
      una idea clara de que es eso del asamblearismo y
      tratar de improvisar algo efectivo en medio del
      caos y sin ningún tipo de experiencia real en
      asamblearismo ni conocer los roles y las técnicas
      más básicas.
    %p
      Yo he vivido situaciones del estilo y también he
      tenido experiencias francamente
      decepcionantes. Pero he tenido la suerte de
      participar en colectivos asamblearios y de
      disfrutar del grado de efectividad y de
      satisfacción personal que se puede lograr con esta
      forma de colaboración. Muchísimo mayor que la que
      he logrado en diversos grupos, empresas y
      estructuras de forma jerárquica y basadas en la
      competencia.
    %p
      Pero no pretendo que me creas así sin más. Sólo
      te pido que comprendas lo difícil que resulta
      transmitir esto si no es viviéndolo y que más que
      rechazarlo sin haber llegado a conocerlo
      realmente, le des todavía el beneficio de la duda
      al asamblearismo.
    %p
      Estas referencias puede que te resulten útiles,
      ahora o en el futuro, al menos eso espero:
    %ul
      %li
        %a{:href => "http://sindominio.net/metabolik/alephandria/txt/Metabolik_-_Taller_asamblearismo_cyborg_-_dia_entero.pdf"}
          Metabolik
          \- Taller de inteligencia colectiva asamblearismo cyborg
      %li
        Consensus. A new handbook for grassroots social, political,
        ad environmental groups, Gelderloos, Peter, See Sharp Press,
        p.120 (2006)
