%h2 Esquemas permisivos de licenciamiento en la creación artística
%table#vcdata
  %tr
    %th Fecha
    %td 24 de septiembre, 2009
  %tr
    %th Exposición
    %td 00:02:38 — 01:04:30
  %tr
    %th Sesión de preguntas
    %td 01:04:30 — 01:37:40
  %tr
    %th Expositores
    %td Lila Pagola
  %tr
    %th Capítulo
    %td
      %a{:href => "pdf/seco3_cap2.pdf"}> PDF
      ,
      %a{:href => "html_cap_2.html"} HTML
  %tr
    %th Otros archivos
    %td
      %ul
        %li
          %a{:href => "video/090924_arte_copyleft_doble_estandar_en_contextos_de_contradiccion.pdf"}
            Presentación
            %em
              Arte, copyleft y el problema del doble estándar en contextos de contradicción
            (PDF)
        %li
          %a{:href => "video/090924_arte_copyleft_doble_estandar_en_contextos_de_contradiccion_irc.txt"}
            Bitácora del canal IRC durante la presentación
        %li
          %a{:href => "res_cap_2.html"} Reseñas
= Seco3.instance.video('video/090924_arte_copyleft_doble_estandar_en_contextos_de_contradiccion.ogg')
