%h2 Presentación del libro en el Instituto de Investigaciones Económicas (UNAM)
%table#vcdata
  %tr
    %th Fecha
    %td 23 de febrero, 2012
  %tr
    %th Duración
    %td 02:03:15
  %tr
    %th Moderador
    %td Carlos Cruz
  %tr
    %th Comentaristas
    %td Irene Soria (00:05:00), Max de Mendizábal (00:23:00)
  %tr
    %th Coordinadores
    %td Alejandro Miranda (00:47:02), Gunnar Wolf (00:54:20)
  %tr
    %th Sesión de preguntas y respuestas
    %td 01:03:35 – 02:03:15
  %tr
    %th Presentación
    %td
= Seco3.instance.video('video/120223_presentacion_iiec.ogg')
