%h2
  Analfabetización informática o ¿por qué los programas privativos fomentan la analfabetización?
  %table#vcdata
    %tr
      %th Fecha
      %td 19 de noviembre, 2009
    %tr
      %th Exposición
      %td 00:00:00 — 00:29:50
    %tr
      %th Sesión de preguntas
      %td 00:29:50 — 01:07:39
    %tr
      %th Expositores
      %td Beatriz Busaniche
    %tr
      %th Capítulo
      %td
        %a{:href => "pdf/seco3_cap7.pdf"}> PDF
        ,
        %a{:href => "html_cap_7.html"} HTML
    %tr
      %th Otros archivos
      %td
        %ul
          %li
            %a{:href => "video/091119_Beatriz_Busaniche_-_Analfabetizacion_informatica_irc.txt"}
              Bitácora del canal IRC durante la presentación
= Seco3.instance.video('video/091119_Beatriz_Busaniche_-_Analfabetizacion_informatica.ogg')
