%h2 Política 2.0
%table#vcdata
  %tr
    %th Fecha
    %td 19 de noviembre, 2009
  %tr
    %th Exposición
    %td 00:00:00 — 01:06:52
  %tr
    %th Sesión de preguntas
    %td 01:06:5201:26:35
  %tr
    %th Expositores
    %td Marko Txopitea
  %tr
    %th Capítulo
    %td
      %a{:href => "pdf/seco3_cap6.pdf"}> PDF
      ,
      %a{:href => "html_cap_6.html"} HTML
  %tr
    %th Otros archivos
    %td
      %ul
        %li
          %a{:href => "video/091119_Marko_Txopitea_-_Politica_2.0.pdf"}
            Presentación «Política 2.0» (PDF)
        %li
          %a{:href => "video/091119_Marko_Txopitea_-_Politica_2.0_irc.txt"}
            Bitácora del canal IRC durante la presentación
        %li
          %a{:href => "res/cap_6.html"} Reseñas
= Seco3.instance.video('video/091119_Marko_Txopitea_-_Politica_2.0.ogg')
