%p
  Parte importante del trabajo del Seminario fueron las siguientes
  videoconferencias, que se convirtieron a su debido tiempo en los capítulos
  del libro. Para ver la información más detallada de cada una de las
  partes, seleccione la liga izquierda.
%dl
  %dt Presentación
  %dd
    %a{:href => 'video_presentacion.html'} Presentación del proyecto
    (Alejandro Miranda y Gunnar Wolf, México)
  %dt
    %a{:href => 'parte1.html'} Parte I
  %dd
    %ul
      %li
        Capítulo 1:
        %a{:href => 'video_cap_1.html'} Software libre y construcción democrática de la sociedad
        (Alejandro Miranda y Gunnar Wolf, México)
      %li
        Capítulo 2:
        %a{:href => 'video_cap_2.html'} Esquemas permisivos de licenciamiento en la creación artística
        (Lila Pagola, Argentina)
      %li
        Capítulo 3:
        %a{:href => 'video_cap_3.html'} Fundamentos teóricos y ubicación histórica de la economía y sociedad del conocimiento
        (Sergio Ordóñez, México)
  %dt
    %a{:href => 'parte2.html'} Parte II
  %dd
    %ul
      %li
        Capítulo 4:
        %a{:href => 'video_cap_4_y_ap1.html'} Factores de motivación y elementos de reconocimiento
        (Gunnar Wolf, México)
      %li
        Capítulo 5:
        %a{:href => 'video_cap_5.html'} La construcción colaborativa del conocimiento visto desde la óptica de las comunidades de software libre
        (Héctor Colina, Venezuela)
  %dt
    %a{:href => 'parte3.html'} Parte III
  %dd
    %ul
      %li
        Capítulo 6:
        %a{:href => 'video_cap_6.html'} Política 2.0
        (Marko Txopitea, Euskal Herria)
      %li
        Capítulo 7:
        %a{:href => 'video_cap_7.html'} Analfabetización informática o ¿por qué los programas privativos fomentan la analfabetización?
        (Beatriz Busaniche, Argentina)
  %dd
    %ul
      %li
  %dt
    %a{:href => 'apendices.html'} Apéndices
  %dd
    %ul
      %li
        Apéndice 1:
        %a{:href => 'video_cap_4_y_ap1.html'} Educación y software libre
        (Alejandro Miranda, México)
      %li
        Apéndice 4:
        %a{:href => 'video_apend_4.html'} Traducción de herramientas para revaloración y rescate de la lectura tradicional
        (Antonio Galindo, México)
