%h2 Traducción de herramientas para revaloración y rescate de la lectura tradicional
%table#vcdata
  %tr
    %th Fecha
    %td 25 de junio, 2009
  %tr
    %th Exposición
    %td 00:00:00 — 00:28:56
  %tr
    %th Sesión de preguntas
    %td 00:50:50 — 01:15:39
  %tr
    %th Expositores
    %td Antonio Galindo
  %tr
    %th Capítulo
    %td
      %a{:href => "pdf/seco3_apend4.pdf"}> PDF
      ,
      %a{:href => "html_apend_4.html"} HTML
    %tr
      %th Otros archivos
      %td
        %ul
          %li
            %a{:href => "video/090625_herramientas_revaloracion_cultura_tradicional_irc.txt"}
              Bitácora del canal IRC durante la presentación
          %li
            %a{:href => "res_apend_4.html"} Reseñas
= Seco3.instance.video('video/090625_herramientas_revaloracion_cultura_tradicional.ogg')
