%h2
  %em Doble videoconferencia:
  %br/
  Educación y
  Software Libre
  %br/
  Factores de motivación y elementos
  de reconocimiento
%table#vcdata
  %tr
    %th Fecha
    %td 29 de octubre, 2010
  %tr
    %th Explicación de la dinámica
    %td 00:00:00 — 00:05:00
  %tr
    %th Exposición Alejandro Miranda
    %td 00:05:00 — 01:29:44
  %tr
    %th Exposición Gunnar Wolf
    %td 01:29:44 — 01:52:10
  %tr
    %th Comclusiones
    %td 01:52:10 — 02:06:00
  %tr
    %th Expositores
    %td Alejandro Miranda y Gunnar Wolf
  %tr
    %th Capítulo
    %td
      Educación y Software Libre:
      = succeed "," do
        %a{:href => "pdf/seco3_apend1.pdf"} PDF
      %a{:href => "html_ap_1.html"} HTML
      %br/
      Factores de motivación y elementos de reconocimiento:
      = succeed "," do
        %a{:href => "pdf/seco3_cap4.pdf"} PDF
      %a{:href => "html_cap_4.html"} HTML
= Seco3.instance.video('video/091029_educacion_y_sl_factores_de_reconocimiento.ogg')
