%h2
  La construcción colaborativa del conocimiento visto desde la óptica de las comunidades de software libre
%table#vcdata
  %tr
    %th Fecha
    %td 27 de agosto, 2009
  %tr
    %th Exposición
    %td 00:00:00 — 00:23:56
  %tr
    %th Sesión de preguntas
    %td 00:23:56 — 01:43:30
  %tr
    %th Expositores
    %td Héctor Colina
  %tr
    %th Capítulo
    %td
      %a{:href => "pdf/seco3_cap5.pdf"}> PDF
      ,
      %a{:href => "html_cap_5.html"} HTML
  %tr
    %th Otros archivos
    %td
      %ul
        %li
          %a{:href => "video/090827_construc_conoc_desde_optica_comunidades_sl_irc.txt"}
            Bitácora del canal IRC durante la presentación
        %li
          %a{:href => "res_cap_5.html"} Reseñas
= Seco3.instance.video('video/090827_construc_conoc_desde_optica_comunidades_sl.ogg')
