%h2 Software libre y construcción democrática de la sociedad
%table#vcdata
  %tr
    %th Fecha
    %td 26 de febrero, 2009
  %tr
    %th Exposición
    %td 00:00:00 a 01:06:00
  %tr
    %th Sesión de preguntas
    %td 01:06:00 a 02:17:00
  %tr
    %th Expositores
    %td Alejandro Miranda, Gunnar Wolf
  %tr
    %th Capítulo
    %td
      %a{:href => "pdf/seco3_cap1.pdf"}> PDF
      ,
      %a{:href => "html_cap_1.html"} HTML
  %tr
    %th Otros archivos
    %td
      %ul
        %li
          %a{:href => "video/090226_construccion_democratica_de_la_sociedad_irc.txt"}
            Bitácora del canal IRC durante la presentación
        %li
          %a{:href => "res_cap_1.html"} Reseñas
= Seco3.instance.video('video/090226_construccion_democratica_de_la_sociedad.ogg')
