%h2 Fundamentos teóricos y ubicación histórica de la economía y sociedad del conocimiento
%table#vcdata
  %tr
    %th Fecha
    %td 28 de mayo, 2009
  %tr
    %th Exposición
    %td 00:00:00 — 00:46:10
  %tr
    %th Sesión de preguntas
    %td 00:46:10 — 01:27:40
  %tr
    %th Expositores
    %td Sergio Ordóñez
  %tr
    %th Capítulo
    %td
      %a{:href => "pdf/seco3_cap3.pdf"}> PDF
      ,
      %a{:href => "html_cap_3.html"} HTML
  %tr
    %th Otros archivos
    %td
      %ul
        %li
          %a{:href => "res_cap_3.html"} Reseñas
= Seco3.instance.video('video/090528_economia_y_sociedad_del_conocimiento.ogg')
