%h2 Presentación del Seminario en el Encuentro EDUSOL 2008
%table#vcdata
  %tr
    %th Fecha
    %td 19 de noviembre, 2008
  %tr
    %th Duración
    %td 01:27:01
  %tr
    %th Expositores
    %td Gunnar Wolf, Alejandro Miranda
  %tr
    %th Presentación
    %td
      %a{:href => "pdf/seco3_presentacion.pdf"}> PDF
      ,
      %a{:href => "html_presentacion.html"} HTML
= Seco3.instance.video('video/081119_sociedad_del_conocimiento_y_cultura_libre.ogg')
